{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}{{ 'title.features'|trans }} | {{ parent() }}{% endblock %}

{% block above_the_fold %}
    <div id="above-the-fold" class="above-the-fold light">
        <div class="inner-wrapper">
            <h2 class="page-title">{{ 'title.features'|trans|upper }}</h2>
        </div>
    </div>
{% endblock %}

    {% block content %}


        {% for video in videos %}
            {% if loop.index%2!=0 %}<div class="block-layout-two row">{% endif %}
            <div class="grid_6 post-70 post type-post format-standard">
                <div class="main-item">
                    <div class="post-img element-fade-in videoWrapper">
                        <iframe width="422" height="280" src="//www.youtube.com/embed/{{ video.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>

                    </div>

                    <h3><a href="">{{ video.getTitle }}</a></h3>
                    <div class="post-dca">
                        <span class="date">{{ video.getReleaseDateFrontFormat(video.getId) }}</span>
                        <span class="author"><a href="#" rel="author">VYPER Japanese Music</a></span>
                    </div>

                    <p>{{ video.getDescription }}</p>
                </div>
            </div>
            {% if loop.index%2==0 or loop.last == true %}</div><!-- end row -->{% endif %}


            {% if loop.index==2 %}
                <div class="text-center under-margin">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- footer-leaderboard -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-3070362287154347"
                         data-ad-slot="5037213511"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            {% endif %}

        {% endfor %}








        <ul class="page-numbers">

            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, total_videos) %}
                {% if p == page and p != 0 %}
                    <li><span class="page-numbers current">{{ p }}</span></li>
                {% elseif p != 0 %}
                    <li><a href="{{ path('vyper_site_showAllVideos', {'page': p}) }}" class="page-numbers">{{ p }}</a></li>
                {% endif %}
            {% endfor %}

        </ul>
    {% endblock %}