{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Magazine | {{ parent() }}{% endblock %}

    {% block content %}

        <div class="main-container">



            <section class="features features-7">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                            <h1>
                                {{ 'magazine.title1'|trans|upper }}
                            </h1>
                            <h5>
                                {{ 'magazine.sub1'|trans }}
                            </h5>

                        </div>
                    </div>
                </div>

            </section>
            <section class="features features-5 bgdark">
                <div class="container">
                    <div class="row v-align-children">

                        <div class="col-sm-6 grid_5 feature text-right">
                            {% set br = '<br>' %}
                            <h2>{{ 'magazine.title2'|trans({'%br%': br})|raw }}</h2>
                            <p>
                                {{ 'magazine.sub2'|trans }}
                            </p>
                        </div>

                        <div class="col-sm-6 grid_6 text-center feature">
                            <img alt="Feature Image" src="/bundles/vypersite/img/bg/cross.png">
                        </div>

                    </div>
                </div>
            </section>


            <section class="features features-4">
                <div class="container">
                    <div class="row v-align-children">
                        <div class="col-sm-6 grid_6 text-center feature">
                            <img alt="Feature Image" src="/bundles/vypersite/img/bg/luna2.png">
                        </div>

                        <div class="col-sm-6 grid_5 col-md-offset-1 feature">
                            <h2>
                                {{ 'magazine.title3'|trans }}
                            </h2>
                            <p>
                                {{ 'magazine.sub3'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </section>




            <section class="pricing pricing-1 bgdark pricing-subscriptions">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1>
                                {{ 'magazine.title4'|trans }}
                            </h1>
                            <h5>
                                {{ 'magazine.sub4'|trans({'%br%': br})|raw }}

                            </h5>
                        </div>
                    </div>

                    <div class="row">
                        <a href="http://boutique.vyper-jmusic.com/index.php?id_product=6&controller=product">
                            <div class="col-sm-4 grid_4 text-center pricing-option">
                                <h6>Visu</h6>
                                <div class="price-container">
                                    <span class="price">45</span>
                                    <span class="dollar">€</span>
                                    <span class="terms"><span class="terms">{{ 'magazine.with.tax'|trans }}</span></span>
                                </div>
                                <h5>{{ 'magazine.subscribtion1'|trans }}</h5>
                                <ul>
                                    <li><strong>{{ 'magazine.insteadof1'|trans }}</strong></li>
                                </ul>
                            </div>
                        </a>

                        <a href="http://boutique.vyper-jmusic.com/index.php?id_product=7&controller=product">
                            <div class="col-sm-4 grid_4 text-center pricing-option active">
                                <h6>Pop</h6>
                                <div class="price-container">
                                    <span class="price">65</span>
                                    <span class="dollar">€</span>
                                    <span class="terms">{{ 'magazine.with.tax'|trans }}</span>
                                </div>
                                <h5>{{ 'magazine.subscribtion2'|trans }}</h5>
                                <ul>
                                    <li><strong>{{ 'magazine.insteadof2'|trans }}</strong></li>
                                </ul>
                            </div>
                        </a>

                        <a href="http://boutique.vyper-jmusic.com/index.php?id_product=8&controller=product">
                            <div class="col-sm-4 grid_4 text-center pricing-option">
                                <h6>Rock</h6>
                                <div class="price-container">
                                    <span class="price">80</span>
                                    <span class="dollar">€</span>
                                    <span class="terms"><span class="terms">{{ 'magazine.with.tax'|trans }}</span></span>
                                </div>
                                <h5>{{ 'magazine.subscribtion3'|trans }}</h5>
                                <ul>
                                    <li><strong>{{ 'magazine.insteadof3'|trans }}</strong></li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    {% if app.request.getLocale() == 'fr' %}
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p>Besoin d'infos supplémentaires? <a href="{{ path('vyper_site_contact') }}">Contactez-nous</a>, VYPER vous répond dans les 24 heures !</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </section>



            <section class="features features-13 red">

                    <div class="row">
                        <div class="col-md-9 grid_9 text-right">
                            <h5 class="text-white">{{ 'magazine.bottom'|trans }}</h5>

                        </div>

                        <div class="col-md-3 grid_3">
                            <a class="qbutton white" href="http://boutique.vyper-jmusic.com/index.php?id_category=13&amp;controller=category">{{ 'magazine.subscribe.button'|trans|upper }}</a>
                        </div>

                    </div>

            </section>






        </div>

    {% endblock %}