<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="{{ app.request.getLocale() }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="{{ app.request.getLocale() }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ app.request.getLocale() }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ app.request.getLocale() }}" class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{{ asset('bundles/vypersite/img/logo.png') }}" />
    <title>{% block title %}{% endblock %}</title>
    <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';</script>

    {% block meta_description %}
        <meta name="description" content="{{ 'meta.description'|trans|raw }}" />
    {% endblock %}


    {% if article.metaKeywords is defined and article.metaKeywords is not empty %}
        <meta name="keywords" content="{{ article.metaKeywords }}" />
    {% else %}
        <meta name="keywords" content="magazine, concert, tour, tournée, actu, jmusic, j-music, jpop, j-pop, jrock, j-rock, visual kei, visu, oshare kei, oshare, actu jmusic, actu jpop, musique japonaise, youtube, forum, vyper" />
    {% endif %}
    <meta name="author" content="vyper-jmusic.com" />
    <meta name="ROBOTS" content="index,follow" />

    <link rel="alternate" type="application/rss+xml" title="Flux RSS" href="{{ app.request.getSchemeAndHttpHost() }}/rss_fil_info.xml" />

    {% block social_card %}{% endblock %}
    {% block stylesheets %}
        <!-- Pretty Photo
        <link rel='stylesheet' id='de7igner-prettyPhoto-style-css'  href='http://ava-themes.com/WP/De7igner/wp-content/themes/De7igner/css/prettyPhoto.css?ver=1.0' type='text/css' media='all' />
        -->
        {% stylesheets filter='cssrewrite'
        'bundles/vypersite/css/fancybox/jquery.fancybox.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts_header %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% endblock %}


</head>
<body>

<a href="http://www.youtube.com/v/QwZ6sTxmqV4" class="under-960 btn btn-default read-button" target="_blank">mobile video</a>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49860128-1', 'auto');
    ga('send', 'pageview');

</script>


{% block body %}
{% endblock %}

</body>
</html>