{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}{{ article_type }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/vypersite/css/fancybox/jquery.fancybox.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

    {% block above_the_fold %}
    <div id="above-the-fold" class="above-the-fold light">
        <div class="inner-wrapper">
            <h2 class="page-title">{{ article_type|upper }}</h2>
        </div>
    </div>
    {% endblock %}

    {% block content %}

        <div class="block-layout-five">

            {% for article in articles %}

                <!-- Post -->
                <div class="main-item post type-post format-standard hentry">
                    <div class="post-img">
                        {% if article.pdf %}
                            <a class="fancybox" data-slug="{{ article.slug }}" data-fancybox-type="iframe"
                               href="{{ asset(article.pdf.getPath()) }}">
                                <img src="{{ asset(article.picture.getPath()) }}" alt="{{ article.getTitle }}"
                                     title="{{ article.getTitle }}">        </a>
                            <a class="under-960 pdf-mobile" data-slug="{{ article.slug }}" data-fancybox-type="iframe"
                               href="{{ asset(article.pdf.getPath()) }}">
                                <img src="{{ asset(article.picture.getPath()) }}" alt="{{ article.getTitle }}"
                                     title="{{ article.getTitle }}">        </a>
                        {% else %}
                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                <img src="{{ asset(article.picture.getPath()) }}" alt="{{ article.getTitle }}" title="{{ article.getTitle }}">        </a>
                        {% endif %}
                    </div>


                    <div class="post-meta ">
                        <h3>
                            {% if article.pdf %}
                                <a class="fancybox over-720" data-slug="{{ article.slug }}" data-fancybox-type="iframe"
                                   href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                                <a class="under-960 pdf-mobile" data-slug="{{ article.slug }}"
                                   href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                            {% else %}
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                            {% endif %}
                        </h3>
                        <div class="post-dca">
                            <span class="date">{{ article.getReleaseDateFrontFormat(article.getId) }}</span>
                            <span class="theme"><a href="#">{{ article.getArticleType.getName }}</a></span>
                            <span class="author"><a href="#" rel="author">{{ article.getAuthor }}</a></span>


                        </div>

                        {#
                        <span class="disqus-comment-count" data-disqus-url="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">First article</span>
                        #}
                        <p>{{ article.getDescription }}</p>

                        {% if article.pdf %}
                            <a data-slug="{{ article.slug }}" class="under-960 pdf-mobile" href="{{ asset(article.pdf.getPath()) }}">OPEN PDF tablet mobile</a>
                            <a data-slug="{{ article.slug }}" href="{{ asset(article.pdf.getPath()) }}"
                               class="btn btn-default fancybox over-720 read-button"
                               data-fancybox-type="iframe"
                               ><i class="fa fa-file"></i> Lire l'article</a>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}


        </div>


        <ul class="page-numbers">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, total_articles) %}
                {% if p == page %}
                    <li><span class="page-numbers current">{{ p }}</span></li>
                {% else %}

                    {% if article_type == 'Live Reports' and p != 0 %}
                        <li><a href="{{ path('vyper_site_liveReports', {'page': p}) }}" class="page-numbers">{{ p }}</a></li>
                    {% elseif article_type == 'Chronique' and p != 0 %}
                        <li><a href="{{ path('vyper_site_chroniques', {'page': p}) }}" class="page-numbers">{{ p }}</a></li>
                    {% elseif article_type == 'Magazine' and p != 0 %}
                        <li><a href="{{ path('vyper_site_magazine_news', {'page': p}) }}" class="page-numbers">{{ p }}</a></li>
                    {% elseif article_type == 'Interviews' and p != 0 %}
                        <li><a href="{{ path('vyper_site_interviews', {'page': p}) }}" class="page-numbers">{{ p }}</a></li>
                    {% elseif article_type == 'Actualités' and p != 0 %}
                        <li><a href="{{ path('vyper_site_showAllArticles', {'page': p}) }}" class="page-numbers">{{ p }}</a></li>
                    {% elseif article_type == 'News' and p != 0 %}
                        <li><a href="{{ path('vyper_site_news', {'page': p}) }}" class="page-numbers">{{ p }}</a></li>
                    {% elseif p != 0 %}
                        <li><a href="{{ path('vyper_site_showAllArticles', {'page': p}) }}" class="page-numbers">{{ p }}</a></li>
                    {% endif %}


                {% endif %}
            {% endfor %}
        </ul>




    {% endblock %}

{% block javascripts_footer %}
    {{ parent() }}

    {% javascripts
    'bundles/vypersite/js/fancybox/jquery.fancybox.pack.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        jQuery(document).ready(function ($) {

            //setPrettyPhoto();
            //$('#pdf').trigger('click');
            var fancybox_elem = $(".fancybox");
            fancybox_elem.fancybox({
                openEffect  : 'none',
                closeEffect : 'none',
                iframe : {
                    preload: false
                },
                helpers : {
                    overlay: {
                        opacity: 0.8, // or the opacity you want
                        css: {'background-color': '#000000'} // or your preferred hex color value
                    } // overlay
                } // helpers
            });

            fancybox_elem.on('click', function() {
                googleSend($(this));
            });

            $('.pdf-mobile').on('click', function() {
                googleSend($(this));
            });

        });

        function googleSend(elem) {
            var slug = elem.data('slug');
            ga('send', 'event', 'Article PDF', 'Clic', slug, {'nonInteraction': 1});
        }

    </script>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'vyper'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}