{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}{{ article.title }} | {{ parent() }}{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{ article.getDescription|escape }}" />
{% endblock %}

{% block social_card %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@japanfm" />
    <meta name="twitter:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath()) }}" />
    <meta name="twitter:description" content="{{ article.getDescription|escape }}" />

    <meta property="og:title" content="{{ article.getTitle }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url('showArticle', {'id': article.getId, 'slug': article.slug}) }}" />
    <meta property="og:site_name" content="Japan FM" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath()) }}" />
    <meta property="og:description" content="{{ article.getDescription|escape }}" />
{% endblock %}

    {% block content %}

                <article id="post-28" class="post-28 post type-post status-publish format-standard hentry category-entertainment category-games tag-characters tag-villain">
                    <div class="featured">
                        <div class="entry-image">
                            {% if img_type_news is defined %}
                                <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath('article')) }}" alt="{{ article.getTitle|escape }}">
                            {% else %}

                                <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath()) }}" class="big-format" alt="{{ article.getTitle|escape }}">

                            {% endif %}

                        </div>
                    </div>

                    <h1 class="post-title">{{ article.getTitle }}</h1>
                    <h3 class="lead">{{ article.getDescription }}</h3>

                    <div class="post-meta">
                        <span class="author">{{ 'article.author'|trans }} <a href="#">{{ article.author }}</a></span>
                        <span class="date">{{ 'article.published'|trans }} <a href="#month">{{ article.getReleaseDateFrontFormat() }}</a></span>

                    </div>

                    <div class="post-container">
                        {% if (article.textEN is not null or article.textJP is not null)  %}
                            <script>
                                $(function() {
                                    $( "#lang-tabs" ).tabs();
                                });
                            </script>

                            <div id="lang-tabs">
                                <ul>
                                    <li><a href="#tabs-1">FR <img src="{{ asset('assets/css/images/france.ico') }}" /></a></li>
                                    {% if article.textEN is not null %}
                                        <li><a href="#tabs-2">EN <img src="{{ asset('assets/css/images/uk.ico') }}" /></a></li>
                                    {% endif %}
                                    {% if article.textJP is not null %}
                                        <li><a href="#tabs-3">JP <img src="{{ asset('assets/css/images/japan.ico') }}" /></a></li>
                                    {% endif %}
                                </ul>
                                <div id="tabs-1">
                                    {{ article.text|raw }}
                                </div>
                                {% if article.textEN is not null %}
                                    <div id="tabs-2" lang="en">
                                        {{ article.textEN|raw }}
                                    </div>
                                {% endif %}
                                {% if article.textJP is not null %}
                                    <div id="tabs-3" lang="ja">
                                        {{ article.textJP|raw }}
                                    </div>
                                {% endif %}
                            </div>
                        {% else %}
                            {{ article.text|raw }}
                        {% endif %}



                        {% if article.source != '' %}
                            {% if article.sourceURL != '' %}
                                <p>
                                    Source : <a href="{{ article.sourceURL }}">{{ article.source }}</a>
                                </p>
                            {% else %}
                                <p>
                                    Source : {{ article.source }}
                                </p>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="post-share">
                        <span class="share-text">Share this post:</span>
                        <ul>
                            <li>
                                <a data-hashtags="" data-url="{{ url('showArticle', {'id': article.getId, 'slug': article.slug}) }}" data-via="VYPER_JMusic" data-text="{{ article.getTitle }}" data-tip="{{ 'social.share.twitter'|trans }}" href="https://twitter.com/intent/tweet?hashtags=&amp;original_referer={{ url('showArticle', {'id': article.getId, 'slug': article.slug})|url_encode }}&amp;source=tweetbutton&amp;text={{ article.getTitle }}&amp;url={{ url('showArticle', {'id': article.getId, 'slug': article.slug})|url_encode }}&amp;via=VYPER_JMusic" class="twitter df-tweet" target="_blank">
                                    <span class="socicon">a</span>
                                </a>
                                <p class="count-number">0</p>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/sharer/sharer.php?u={{ url('showArticle', {'id': article.getId, 'slug': article.slug}) }}" data-url="{{ url('showArticle', {'id': article.getId, 'slug': article.slug}) }}" data-tip="{{ 'social.share.facebook'|trans }}" class="facebook df-share">
                                    <span class="socicon">b</span>
                                </a>
                                <p class="count-number">0</p>
                            </li>
                            <li>
                                <a data-tip="{{ 'social.share.googlep'|trans }}" href="https://plus.google.com/share?url={{ url('showArticle', {'id': article.getId, 'slug': article.slug}) }}" class="google df-pluss">
                                    <span class="socicon">c</span>
                                </a>
                                <p>0</p>
                            </li>
                            <li>
                                <a data-tip="{{ 'social.share.pinterest'|trans }}" href="http://pinterest.com/pin/create/button/?url={{ url('showArticle', {'id': article.getId, 'slug': article.slug}) }}&amp;media={{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath()) }}&amp;description={{ article.getTitle }}" data-url="{{ url('showArticle', {'id': article.getId, 'slug': article.slug}) }}" class="google df-pin">
                                    <span class="socicon">d</span>
                                </a>
                                <p class="count-number">0</p>
                            </li>
                            <li>
                                <a data-tip="{{ 'social.share.linkedin'|trans }}" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url('showArticle', {'id': article.getId, 'slug': article.slug}) }}&amp;title={{ article.getTitle }}" data-url="{{ url('showArticle', {'id': article.getId, 'slug': article.slug}) }}" class="linkedin df-link">
                                    <span class="socicon">j</span>
                                </a>
                                <p class="count-number">0</p>
                            </li>
                        </ul>
                    </div>


                </article>






        {% if article.magazines is defined %}
            <div class="content-title main-color-reverse">
                <h4>Vyper Japanese Music</h4>
            </div>

            <ul>
            {% for key, mag in article.magazines %}
                <div class="col-md-3 padding-off">
                    <div class="release-thumbnail">
                        <div class="release-cover">
                            <a href="{{ path('showMagazine', {'id': mag.getId, 'slug': mag.slug}) }}"><img src="{{ asset(mag.picture.getPath('cover-mag-front')) }}" class="fullwidth" alt=""></a>
                        </div>

                        <h4 class="release-title"><a href="{{ path('showMagazine', {'id': mag.getId, 'slug': mag.slug}) }}">Vyper Magazine</a></h4>
                        <h6 class="release-artist">Vol {{ mag.volume }}</h6>
                        <div class="release-meta">

                            <div class="release-info">{{ mag.dateRelease|date("d/m/Y") }}</div>
                            <div class="clear"></div>

                        </div>
                    </div>
                </div>
            {% endfor %}
            </ul>
            <div class="clear"></div>
        {% endif %}


        {% if article.album is not null %}
            <div class="content-title main-color-reverse">
                <h4>Galerie</h4>
            </div>



                    {% for key, picture in article.album.pictures %}
                        {% if key <= 2 %}

                            <div class="col-md-4 col-sm-6">
                                <div class="thumb album-thumbnail" style="background: url('{{ asset(picture.getPath('album-cover')) }}') no-repeat center;">

                                </div>

                            </div>

                        {% endif %}
                    {% endfor %}





            <a href="{{ path('showAlbum', {'id': article.album.getId, 'slug': article.album.slug}) }}">Plus de photos</a>
        {% endif %}









        <div id="comments" class="content-title main-color-reverse">
            <h4>Réagir</h4>
        </div>
        <!-- /comments -->



        {# DISQUS #}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'vyper';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


    {% endblock %}

{% block sidebar_context %}
    {% if article is defined %}
        {% if article.artists|length > 0 %}
            <aside class="widget fiche-group">
                {% for artist in article.artists %}
                    <h4>{{ artist.name }}</h4>
                    <div class="">
                        <div class="">
                            <img  src="{{ asset(artist.picture.getPath('75-75')) }}" alt="{{ artist.name }}">
                        </div>
                        <div class="">
                            <ul>
                                <li><a href="#">Biographie</a></li>
                                <li><a href="#">Discographie</a></li>
                                <li><a href="#">Site officiel</a></li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </aside>
        {% endif %}
    {% endif %}
{% endblock %}