{% extends 'VyperSiteBundle:layouts:basis.html.twig' %}


{% block title %}VYPER Japanese Music | Visual Pop Rock{% endblock %}

    {#
    {% stylesheets filter='cssrewrite'
    'assets/css/fullcalendar/fullcalendar.css'
    'assets/css/owl-carousel/owl.carousel.css'
    'assets/css/owl-carousel/owl.theme.css'
        'assets/bootstrap-star-rating/css/star-rating.min.css'
    'assets/css/prettyphoto/prettyphoto.css'
        'assets/css/reset.css'
        'assets/css/style.css'

    %}



    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    #}
{#
    <!-- Fullcalendar -->
    <link rel="stylesheet" href="{{ asset('assets/css/fullcalendar/fullcalendar.css') }}" type="text/css" />

    <!-- Owl Carousel Assets -->
    <link href="{{ asset('assets/css/owl-carousel/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl-carousel/owl.theme.css') }}" rel="stylesheet">
#}

    {# Font awesome
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    #}

{#
        <!-- Pretty Photo -->
        <link rel='stylesheet' id='de7igner-prettyPhoto-style-css'  href='{{ asset('assets/css/prettyphoto/prettyphoto.css') }}' type='text/css' media='all' />


        <!-- Star Rating -->
        <link href="{{ asset('assets/bootstrap-star-rating/css/star-rating.min.css') }}" media="all" rel="stylesheet" type="text/css" />


{#
    <link href="{{ asset('assets/css/reset.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css" />
 #}



{% block stylesheets %}

    <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto+Condensed' type='text/css' media='all' />

    {% stylesheets filter='cssrewrite'
    'bundles/vypersite/dialy/lib/css/normalize.css'
    'bundles/vypersite/dialy/lib/css/style.css'
    'bundles/vypersite/dialy/lib/css/layout.css'
    'bundles/vypersite/dialy/lib/css/admin-ajax.css'
    'bundles/vypersite/dialy/lib/css/fontawesome.css'
    'bundles/vypersite/dialy/lib/css/1200.css'
    'bundles/vypersite/dialy/style.css'
    'bundles/vypersite/css/polyglot-language-switcher-2.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {# Jquery UI #}
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" media="all" rel="stylesheet" type="text/css" />


{% endblock %}

{% block javascripts_header %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!--  -->
    {# jQuery (necessary for Bootstrap's Javascript plugins) #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <![endif]-->
{% endblock %}

{% block body %}
    <!--[if lt IE 9]>
    <p class="chromeframe">{{ 'browser.warning'|trans }} <a data-bypass href="http://browsehappy.com/">{{ 'browser.update'|trans }}</a></p>
    <![endif]-->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=1470537739827941";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>



    <div id="wrapper" class="boxed">
        <header id="header" class="light">
            <div class="inner-wrapper row">

                <div class="polyglot-language-switcher" data-grid-columns="1" data-anim-effect="fade" data-open-mode="click">
                    <ul style="display: none">
                        <li><a href="{{ app.request.getSchemeAndHttpHost() }}/en" {% if app.request.getLocale() == 'en' %}class="pls-selected-locale"{% endif %} title="English" data-lang-id="en"> English</a></li>
                        <li><a href="{{ app.request.getSchemeAndHttpHost() }}/fr" {% if app.request.getLocale() == 'fr' %}class="pls-selected-locale"{% endif %} title="French (France)" data-lang-id="fr"> Français (France)</a></li>
                    </ul>
                </div>

                <div id="logo">
                    <h1 id="site-logo">
                        <a href="{{ path('vyper_site_index') }}">
                            <img src="{{ asset('bundles/vypersite/img/logo.png?size=150') }}" alt="Vyper Japanese Music" height="120" />
                        </a>
                    </h1>
                </div>



                <div class="ad-banner-728x90">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- footer-leaderboard -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-3070362287154347"
                         data-ad-slot="5037213511"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>

            <div style="visibility: hidden; display: none; width: 1220px; height: 55px; margin: 0px; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto;"></div>
            {{ render(controller("VyperSiteBundle:Menu:Menu")) }}

        </header>

        {% block above_the_fold %}

        {% if front_page_index is defined %}
            <div id="above-the-fold" class="above-the-fold light">
                <div class="inner-wrapper">

                    <!-- Flexslider -->
                    <div class="flexslider">
                        <ul class="slides">
                            {% for article in articles_carousel %}
                                <li{% if loop.index == 1 %} class="flex-active-slide"{% endif %}>
                                    <img src="{{ asset(article.picture.getPath('homepage-slider')) }}" alt="{{ article.getTitle }}" title="{{ article.getTitle }}" draggable="false">
                                    <div class="post-box-text">
                                        <span style="background-color: #dd030e"><a href="#">{{ article.getArticleType.getName }}</a></span>
                                        <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3>
                                        <p>{{ article.getReleaseDateFrontFormat(article.getId) }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>

                    <!-- Block with 2 posts -->
                    <div class="block-with-two-posts">
                        <div class="post-block">
                            <a href="http://boutique.vyper-jmusic.com">
                                <img src="{{ asset('bundles/vypersite/img/ad/pub1.png') }}" alt="">
                            </a>

                        </div>
                        <div class="post-block">
                            <a href="http://boutique.vyper-jmusic.com">
                                <img src="{{ asset('bundles/vypersite/img/ad/pub2.png') }}" alt="">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        {% endif %}
        {% endblock %}

        <section id="section">
            <div class="inner-wrapper">

                <!-- Main -->
                <div id="main" role="main" {% if current_videos is defined %}{% elseif page_magazine is defined %}{% elseif page_job is defined %}{% elseif page_404 is defined %}class="page404"{% else %}class="left"{% endif %}>

                    <!-- Start template -->
                    {% block content %}{% endblock %}
                    <!-- End template -->


                </div>

                {% if current_videos is defined %}
                {% elseif page_404 is defined %}
                {% elseif page_magazine is defined %}
                {% elseif page_job is defined %}
                {% else %}
                <!-- Aside -->
                <aside id="sidebar" role="complementary">

                    <aside id="social-count-widget-2" class="sidebar-widget widget social-counter-widget">

                        <div class="social-count-wrap">
                            <div class="counter-element color-facebook">
                                <a target="_blank" href="https://facebook.com/envato" class="facebook" title="Connect at Facebook">
                                    <i class="fa fa-facebook"></i>
                                    <span class="num-count">68357</span>
                                    <span class="text-count">fans</span></a>
                            </div><!--facebook like count -->
                            <div class="counter-element color-twitter">
                                <a target="_blank" href="https://twitter.com/TutsPlusCode" class="twitter" title="Follow on twitter">
                                    <i class="fa fa-twitter"></i>
                                    <span class="num-count">160.4k</span>
                                    <span class="text-count">followers</span></a>
                            </div><!--twitter follower count -->
                            <div class="counter-element color-youtube">
                                <a target="_blank" href="http://www.youtube.com/user/KatyPerryVEVO" title="Subscribers me">
                                    <i class="fa fa-youtube"></i>
                                    <span class="num-count">16603.6k</span>
                                    <span class="text-count">Subscribers</span>
                                </a>
                            </div><!--youtube subscribers count -->
                            <div class="counter-element color-rss">
                                <a target="_blank" href="#" title="Subscribe Rss">
                                    <i class="fa fa-rss"></i>
                                    <span class="num-count">Subscribe</span>
                                    <span class="text-count">RSS Feeds</span>
                                </a>
                            </div><!--rss Subscribe feed -->

                        </div><!-- #social count wrap -->
                    </aside>

                {% block sidebar_context %}
                {% endblock %}

                    {{ render(controller("VyperSiteBundle:Event:nextEvent")) }}

                    <aside class="widget">
                        <div class="widget-title"><h4>{{ 'sidebar.title.follow.us'|trans }}</h4></div>
                        <div class="fb-like-box" data-href="https://www.facebook.com/vyperjmusic" data-width="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
                    </aside>

                    <aside class="widget">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- Skyscraper large -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:300px;height:600px"
                             data-ad-client="ca-pub-3070362287154347"
                             data-ad-slot="6077349519"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </aside>



                    <!-- END Sidebar -->
                </aside>
                {% endif %}

            </div>
        </section>

        <footer id="footer" role="contentinfo">

            <!-- Copyright -->
            <div id="copyright">
                <div class="inner-wrapper">
                    <div class="row">
                        <div class="grid_6">{{ 'footer.copyright'|trans }}</div>
                        <div class="grid_6">
                            <ul class="inline-list right">
                                <li><a href="{{ path('vyper_site_partenaires') }}">{{ 'footer.menu.partners'|trans }}</a></li>
                                <li><a href="{{ path('vyper_site_contact') }}">{{ 'footer.menu.contact'|trans }}</a></li>
                                <li><a href="{{ path('vyper_site_jobs') }}">{{ 'footer.menu.jobs'|trans }}</a></li>
                                <li><a href="{{ path('vyper_site_cgu') }}">{{ 'footer.menu.cgu'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
{% endblock %}



{% block javascripts_footer %}

    {{ parent() }}

    {# Jquery UI #}
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>

    {% javascripts
    'bundles/vypersite/js/jquery-polyglot.language.switcher.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        jQuery(document).ready(function ($) {
            $('.polyglot-language-switcher').polyglotLanguageSwitcher();
        });
    </script>

{% endblock %}
