{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}{{ artist.name }} | {{ parent() }}{% endblock %}

    {% block above_the_fold %}
        <div id="above-the-fold" class="above-the-fold light">
            <div class="inner-wrapper">
                <h2 class="page-title">{{ artist.getName }}{% if artist.getRealName %} - {{ artist.getRealName }}{% endif %}</h2>
            </div>
        </div>
    {% endblock %}


    {% block content %}

        <div class="post-wrap">
            <article id="post-28" class="post type-post format-standard hentry">
                <header class="entry-header">

                    <div class="entry-meta">
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style ">
                            <a class="addthis_button_preferred_1"></a>
                            <a class="addthis_button_preferred_2"></a>
                            <a class="addthis_button_preferred_3"></a>
                            <a class="addthis_button_preferred_4"></a>
                            <a class="addthis_button_compact"></a>
                            <a class="addthis_counter addthis_bubble_style"></a>
                        </div>
                        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-533aac5d5a5f5a91"></script>
                        <!-- AddThis Button END -->
                        <div class="left">




                        </div>


                    </div>
                </header>


                <div class="block-layout-two row">
                    <div class="grid_6">
                        {% if app.request.getLocale() == 'fr' %}
                            {{ artist.getProfile }}
                        {% elseif app.request.getLocale() == 'en' %}
                            {{ artist.getProfileEn }}
                        {% endif %}
                    </div>
                    <div class="grid_6">
                        {% if artist.picture is null %}
                            <img  src="{{ asset('assets/css/images/artists-music.jpg?size=374-200') }}" class="wp-post-image artists-img" alt="">
                        {% else %}
                            <img  src="{{ asset(artist.picture.getPath('374-200')) }}" class="wp-post-image" alt="">
                        {% endif %}

                    </div>
                </div>

            </article>



        </div>
        <!-- /post-wrap -->

        {% if artist.getBiography and app.request.getLocale() == 'fr' %}
            <p class="title" id="toggle-biography">
                <span id="biography"><strong>{{ 'artist.biography'|trans }}</strong></span>
            </p>

            <div class="entry-content" id="toggle-target-biography">
                {{ artist.getBiography|raw }}
            </div>
        {% elseif artist.getBiographyEn and app.request.getLocale() == 'en' %}
            <p class="title" id="toggle-biography">
                <span id="biography"><strong>{{ 'artist.biography'|trans }}</strong></span>
            </p>

            <div class="entry-content" id="toggle-target-biography">
                {{ artist.getBiographyEn|raw }}
            </div>
        {% endif %}

        <!-- /entry-content -->

        {% if discos is defined %}
            <p class="title" id="toggle-discos">
                <span><strong>{{ 'artist.discography'|trans }}</strong></span>
            </p>

            <div id="toggle-target-discos">

                <ul class="products">
                    {% set clear_count = 0 %}
                    {% for key, disco in discos %}
                        {% if key < 4 %}
                            <li class="product{% if clear_count == 0 %} first{% endif %}{% if clear_count == 3 %} last{% endif %}">
                                <a href="{{ path('showDisco', {'id': disco.getId, 'slug': disco.slug}) }}">
                                    <img width="150" height="150" src="{{ asset(disco.picture.getPath('150')) }}" class="attachment-shop_catalog wp-post-image" alt="" />
                                    <h3>{{ disco.getTitle }}</h3>
                                </a>

                                <div class="button-container tip-container">
                                    <a href="#" rel="nofollow" class="btn btn-grey button add_to_cart_button product_type_simple buy"><i class="fa fa-shopping-cart"></i> {{ 'discography.buy'|trans }}</a>
                                    <div class="tip-cloud">
                                        <div class="tip-corner"></div>
                                        <div class="tip-content">
                                            <ul>
                                                {% if disco.getCdJapan %}
                                                    <li><a href="http://www.cdjapan.co.jp/aff/click.cgi/e86NDzbdSLQ/4902/A640425/detailview.html?KEY={{ disco.getCdJapan }}" target="_blank">CDJapan</a></li>
                                                {% endif %}
                                                {% if disco.getItunes %}
                                                    <li><a href="{{ disco.getItunes }}">iTunes</a></li>
                                                {% endif %}
                                                {% if disco.getAmazon %}
                                                    <li><a href="{{ disco.getAmazon }}" target="_blank">Amazon</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            {% set clear_count = clear_count + 1 %}

                            {% if clear_count==4 %}
                                {% set clear_count = 0 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </ul>

                <p class="seemore-button">
                    <a href="{{ path('artistDiscography', {'id': artist.getId, 'slug': artist.slug}) }}" class="btn btn-red"><i class="fa fa-plus"></i> {{ 'artist.seeAllDiscography'|trans }}</a>
                </p>
            </div>



        {% endif %}




        <div class="clear"></div>
        {% if events is defined %}
            <p class="title" id="toggle-events">
                <span><strong>{{ 'artist.events'|trans }}</strong></span>
            </p>


            <ul class="list" id="toggle-target-events">

                {% for key, event in events %}
                    <li class="one-third{% if key==2 %} last{% endif %}">
                        <div class="thumbnail">
                            <a href="{{ path('showEvent', {'id': event.getId, 'slug': event.slug}) }}">
                                <img src="{{ asset(event.picture.getPath('374-200')) }}" class="attachment-fp239_130 wp-post-image" alt="">									</a>
                        </div>

                        <h5>
                            <a href="{{ path('showEvent', {'id': event.getId, 'slug': event.slug}) }}">
                                {{ event.getTitle }}
                            </a>
                        </h5>

                        <div class="entry-meta">
                    <span class="date">
                        <i class="icon-calendar"></i>
                        {{ event.getDateFrontFormat }}
                    </span>
                        </div>
                    </li>
                {% endfor %}


            </ul>

        {% endif %}

        {% if articles is defined %}
            <p class="title" id="toggle-articles">
                <span><strong>{{ 'artist.articles'|trans }}</strong></span>
            </p>

            <ul class="list" id="toggle-target-articles">
                {% for key, article in articles %}
                    <li class="one-third{% if key==2 %} last{% endif %}">
                        <div class="thumbnail">
                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                <img src="{{ asset(article.picture.getPath('374-200')) }}" class="attachment-fp239_130 wp-post-image" alt="">
                            </a>
                        </div>

                        <h5>
                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                {{ article.getTitle }}
                            </a>
                        </h5>

                        <div class="entry-meta">
                <span class="date">
                    <i class="fa fa-calendar"></i>
                    {{ article.getReleaseDateFrontFormat(article.getId) }}
                </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if albums is defined %}
            <p class="title" id="toggle-albums">
                <span><strong>{{ 'artist.gallery'|trans }}</strong></span>
            </p>

            <ul class="list" id="toggle-target-albums">
                {% for key, album in albums %}
                    <li class="one-third{% if key==2 %} last{% endif %}">
                        <div class="thumbnail">
                            <a href="{{ path('showAlbum', {'id': album.getId, 'slug': album.slug}) }}">
                                <img src="{{ asset(album.cover.getPath('374-200')) }}" class="attachment-fp239_130 wp-post-image" alt="">
                            </a>
                        </div>

                        <h5>
                            <a href="showAlbum">
                                {{ album.getTitle }}
                            </a>
                        </h5>

                    </li>
                {% endfor %}
            </ul>
        {% endif %}



        {% if artist.youtubeChannel is not empty or artist.officialWebsite is not empty %}
            <p class="title" id="toggle-links">
                <span><strong>{{ 'artist.links'|trans }}</strong></span>
            </p>

            <ul id="toggle-target-links">
                {% if artist.officialWebsite is not empty %}<li><a href="{{ artist.officialWebsite }}">Site officiel</a></li>{% endif %}
                {% if artist.youtubeChannel is not empty %}<li><a href="{{ artist.youtubeChannel }}">Chaine Youtube</a></li>{% endif %}
            </ul>

        {% endif %}












        <div id="comments">
            <div class="cat-header">
                <p class="title">
                    <span><strong>{{ 'artist.comments'|trans }}</strong></span>
                </p>
            </div>
        </div>
        <!-- /comments -->

        {# DISQUS #}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'vyper';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



    {% endblock %}

{% block javascripts_footer %}

    {{ parent() }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>

        $(window).load(function() {

            $(".tip-cloud").hide();

            $(".tip-container").on("click", ".buy", function(e) {
                e.preventDefault();
                $(".tip-cloud").hide();
                var tipcloud = $(this).next();
                tipcloud.show();
            });
        });

    </script>

    <script>
        $(document).ready(function() {
            $( "#toggle-biography" ).on("click", function() {
                $('#toggle-target-biography').toggle('slow');
            });
            $('#toggle-target-biography').hide();


            $( "#toggle-discos" ).on("click", function() {
                $('#toggle-target-discos').toggle('slow');
            });
            //$('#toggle-target-discos').hide();

            $( "#toggle-events" ).on("click", function() {
                $('#toggle-target-events').toggle('slow');
            });
            $('#toggle-target-events').hide();

            $( "#toggle-articles" ).on("click", function() {
                $('#toggle-target-articles').toggle('slow');
            });
            $('#toggle-target-articles').hide();



            $( "#toggle-albums" ).on("click", function() {
                $('#toggle-target-albums').toggle('slow');
            });
            $('#toggle-target-albums').hide();


            $( "#toggle-links" ).on("click", function() {
                $('#toggle-target-links').toggle('slow');
            });
            $('#toggle-target-links').hide();

        });

    </script>

    <script type="text/javascript" src="http://wms-eu.amazon-adsystem.com/20070822/FR/js/link-enhancer-common.js?tag=vyjamu-21">
    </script>
    <noscript>
        <img src="http://wms-eu.amazon-adsystem.com/20070822/FR/img/noscript.gif?tag=vyjamu-21" alt="" />
    </noscript>



{% endblock %}