{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}Artistes | {{ parent() }}{% endblock %}

    {% block above_the_fold %}
        <div id="above-the-fold" class="above-the-fold light">
            <div class="inner-wrapper">
                <h2 class="page-title">{{ 'title.artists'|trans|upper }}</h2>
            </div>
        </div>
    {% endblock %}

    {% block content %}

        <p class="lead">Retrouvez tous les artistes apparus dans le magazine.</p>

        <div id="filters" class="portfolioFilter">

            <div class="button-group" data-filter-group="a-alpha">
                <ul class="page-numbers">
                    <li><a href="javascript: void(0);" data-filter="" class="iso current">Tous</a></li>
                    {% for letter in 'a'..'z' %}
                        <li><a href="javascript: void(0);" data-filter=".{{ letter }}" class="iso">{{ letter|upper }}</a></li>
                    {% endfor %}
                </ul>
            </div>



        </div>

        <div class="portfolioContainer">
            {% set clear_count = 0 %}
            {% for artist in artists %}
                {% if artist.picture is null %}
                    {% set bg = asset('assets/css/images/artists-music.jpg') %}
                {% else %}
                    {% set bg = asset(artist.picture.getPath('290-180')) %}
                {% endif %}

                {% if clear_count == 0 %}<div class="row">{% endif %}
                <div class="color-shape {{ artist.name|first|lower }} artist-all-container grid_4">
                    <div class="thumb artist-thumbnail" style="background: url('{{ bg }}') no-repeat center;">
                        <div class="hover-effect">
                            <div class="gallery-info">
                                <p><a href="{{ path('showArtist', {'id': artist.getId, 'slug': artist.slug}) }}">{{ artist.name }}</a></p>
                            </div>
                            <div class="artist-link">
                                <a href="{{ path('showArtist', {'id': artist.getId, 'slug': artist.slug}) }}">
                                    <span>{{ artist.name }}</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                {% if clear_count == 2 %}</div>{% endif %}

                {% if clear_count==2 %}
                    {% set clear_count = 0 %}
                {% else %}
                    {% set clear_count = clear_count + 1 %}
                {% endif %}

            {% endfor %}
        </div>

    {% endblock %}

{% block javascripts_footer %}

    {{ parent() }}

    <script>

        $(window).load(function(){

            $( function() {
                // init Isotope
                var $container = $('.portfolioContainer').isotope({
                    itemSelector: '.color-shape'
                });

                // store filter for each group
                var filters = {};

                $('#filters').on( 'click', '.iso', function() {
                    var $this = $(this);
                    // get group key
                    var $buttonGroup = $this.parents('.button-group');
                    var filterGroup = $buttonGroup.attr('data-filter-group');
                    // set filter for group
                    filters[ filterGroup ] = $this.attr('data-filter');
                    // combine filters
                    var filterValue = '';
                    for ( var prop in filters ) {
                        filterValue += filters[ prop ];
                    }
                    // set filter for Isotope
                    $container.isotope({ filter: filterValue });
                });

                // change is-checked class on buttons
                $('.iso').each( function( i, buttonGroup ) {
                    var $buttonGroup = $( buttonGroup );
                    $buttonGroup.on( 'click', 'iso', function() {
                        $buttonGroup.find('.current').removeClass('current');
                        $( this ).addClass('current');
                    });
                });

            });



        });

    </script>

{% endblock %}