<nav class="primary-menu dark" role="navigation" id="primary-menu">
    <div class="inner-wrapper">
        <!-- Responsive menu -->
        <a class="click-to-open-menu"><i class="fa fa-align-justify"></i></a>
        <ul class="main-menu"><li id="menu-item-50"><a href="{{ path('vyper_site_index') }}" class="impact" style="border-color: #8F408A; ">{{ 'main.menu.home'|trans }}</a></li>

            {# magazine #}
            <li id="menu-item-95" class="df-dropdown mega-menu-full"><a href="{{ path('vyper_site_magazine_news') }}" class="impact" style="border-color: #38CFCA; "><span><i class="fa fa-outdent"></i> {{ 'main.menu.magazine'|trans }}</span></a>
                <ul class="menu-blocks row">
                    <li id="menu-item-96" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children df-dropdown grid_4 1-1">
                        <ul class="menu-content category-menu">
                            <li class="menu-item current-menu-item current_page_item"><a href="{{ path('vyper_site_magazine_news') }}" class="roboto">{{ 'main.menu.magazine.news'|trans }}</a></li>
                            <li class="menu-item"><a href="http://boutique.vyper-jmusic.com" class="roboto">{{ 'main.menu.magazine.store'|trans }}</a></li>
                            <li class="menu-item"><a href="{{ path('vyper_site_magazine') }}" class="roboto">{{ 'main.menu.magazine.magazine'|trans }}</a></li>
                            <li class="menu-item"><a href="#" class="roboto">{{ 'main.menu.magazine.media'|trans }}</a></li>
                            <li class="menu-item"><a href="http://boutique.vyper-jmusic.com/index.php?id_category=13&controller=category" class="roboto">{{ 'main.menu.magazine.subscriptions'|trans }}</a></li>
                        </ul>
                    </li>
                    <li class="mega-menu-magazine-middle menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children df-dropdown grid_4 2-1">
                        <ul class="menu-content featured-post">
                            <li id="menu-item-104" class="menu-item menu-item-type-taxonomy menu-item-object-category"><div class="block-layout-two">
                                    <div class="main-item">
                                        <div class="post-img">
                                            <a href="http://boutique.vyper-jmusic.com/index.php?id_category=13&controller=category">
                                                <img src="{{ asset('bundles/vypersite/img/magazine/abo.jpg?size=last-magazine') }}" alt="Je m'abonne" title="Je m'abonne">
                                            </a></div>
                                        <h3><a href="http://boutique.vyper-jmusic.com/index.php?id_category=13&controller=category">{{ 'main.menu.magazine.subscriptions.ad' |trans}}</a></h3></div>
                                </div></li>
                        </ul>
                    </li>
                    <li class="mega-menu-magazine-right menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children df-dropdown grid_4 3-1">
                        <ul class="menu-content article-list">
                            <li id="menu-item-105" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                <ul class="recent-posts">
                                    <li>
                                        <div class="image">
                                            <a href="http://boutique.vyper-jmusic.com/index.php?id_product=10&controller=product#bigpic">
                                                <img src="{{ asset('bundles/vypersite/img/magazine/n0005.jpg?size=mini-magazine') }}" alt="VYPER Japanese Music Vol. 005" title="VYPER Japanese Music Vol. 005">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h3><a href="http://boutique.vyper-jmusic.com/index.php?id_product=10&controller=product#bigpic">VYPER Japanese Music Vol. 005</a></h3><p class="date">15 Juin 2015</p></div>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="http://boutique.vyper-jmusic.com/index.php?id_product=1&controller=product#bigpic">
                                                <img src="{{ asset('bundles/vypersite/img/magazine/n0004.jpg?size=mini-magazine') }}" alt="VYPER Japanese Music Vol.004" title="VYPER Japanese Music Vol.004">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h3><a href="http://boutique.vyper-jmusic.com/index.php?id_product=1&controller=product#bigpic">VYPER Japanese Music Vol.004</a></h3><p class="date">15 Mars 2015</p></div>
                                    </li>    <li>
                                        <div class="image">
                                            <a href="http://boutique.vyper-jmusic.com/index.php?id_product=2&controller=product#bigpic">
                                                <img src="{{ asset('bundles/vypersite/img/magazine/n0003.jpg?size=mini-magazine') }}" alt="VYPER Japanese Music Vol.003" title="VYPER Japanese Music Vol.003">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h3><a href="http://boutique.vyper-jmusic.com/index.php?id_product=2&controller=product#bigpic">VYPER Japanese Music Vol.003</a></h3><p class="date">15 Janvier 2015</p></div>
                                    </li>
                                </ul></li>
                        </ul>
                    </li>
                </ul>
            </li>
            {# Articles #}
            <li id="menu-item-332" class="df-dropdown mega-menu-full"><a href="{{ path('vyper_site_showAllArticles') }}" class="impact" style="border-color: #fe7316; "><span>Articles</span></a>
                <ul class="menu-blocks row">
                    <li id="menu-item-96" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children df-dropdown grid_4 1-1">
                        <ul class="menu-content category-menu">
                            <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-10 current_page_item"><a href="{{ path('vyper_site_news') }}" class="roboto">{{ 'article.type.news'|trans }}</a></li>
                            <li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ path('vyper_site_chroniques') }}" class="roboto">{{ 'article.type.chronique'|trans }}</a></li>
                            <li id="menu-item-101" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="{{ path('vyper_site_liveReports') }}" class="roboto">{{ 'article.type.live.report'|trans }}</a></li>
                            <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ path('vyper_site_interviews') }}" class="roboto">{{ 'article.type.interview'|trans }}</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-97" class="mega-menu-articles-middle menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children df-dropdown grid_4 2-1">
                        <ul class="menu-content featured-post">
                            <li id="menu-item-104" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                {% for article in highlight_without_magazine %}
                                {% if loop.index == 1 %}
                                <div class="block-layout-two">
                                    <div class="main-item">
                                        <div class="post-img">
                                            {% if article.pdf %}
                                                <a class="fancybox over-720" data-slug="{{ article.pdf.name }}" data-fancybox-type="iframe"
                                                   href="{{ asset(article.pdf.getPath()) }}">
                                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath()) }}"
                                                         alt="{{ article.getTitle }}" data-size="338x250"
                                                         title="{{ article.getTitle }}">        </a>
                                                <a class="under-960 pdf-mobile" data-slug="{{ article.pdf.name }}" data-fancybox-type="iframe"
                                                   href="{{ asset(article.pdf.getPath()) }}">
                                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath()) }}"
                                                         alt="{{ article.getTitle }}" data-size="338x250"
                                                         title="{{ article.getTitle }}">        </a>
                                            {% else %}
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                                    <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath()) }}"
                                                         alt="{{ article.getTitle }}" data-size="338x250"
                                                         title="{{ article.getTitle }}">
                                                </a>
                                            {% endif %}
                                            <span style="background-color: #222222">
		                    							<a href="#">{{ article.getArticleType.getName }}</a>
		                    						</span></div>
                                        <h3>
                                            {% if article.pdf %}
                                                <a class="fancybox over-720" data-slug="{{ article.pdf.name }}"
                                                   data-fancybox-type="iframe"
                                                   href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                                                <a class="under-960 pdf-mobile" data-slug="{{ article.pdf.name }}"
                                                   href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                                            {% else %}
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                                    {{ article.getTitle }}</a>
                                            {% endif %}
                                        </h3>
                                        <p class="date">{{ article.getReleaseDateFrontFormat() }}</p></div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-98" class="mega-menu-articles-right menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children df-dropdown grid_4 3-1">
                        <ul class="menu-content article-list">
                            <li id="menu-item-105" class="menu-item menu-item-type-taxonomy menu-item-object-category"><ul class="recent-posts">

                                    {% for article in highlight_without_magazine %}
                                        {% if loop.index > 1 and loop.index <5 %}
                                            <li>
                                                <div class="image">
                                                    {% if article.pdf %}
                                                        <a class="fancybox" data-slug="{{ article.pdf.name }}" data-fancybox-type="iframe"
                                                           href="{{ asset(article.pdf.getPath()) }}">
                                                            <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath('80-65')) }}"
                                                                 alt="{{ article.getTitle }}"
                                                                 title="{{ article.getTitle }}">        </a>
                                                        <a class="under-960 pdf-mobile" data-slug="{{ article.pdf.name }}" data-fancybox-type="iframe"
                                                           href="{{ asset(article.pdf.getPath()) }}">
                                                            <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath('80-65')) }}"
                                                                 alt="{{ article.getTitle }}"
                                                                 title="{{ article.getTitle }}">        </a>
                                                    {% else %}
                                                        <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                                            <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath('80-65')) }}"
                                                                 alt="{{ article.getTitle }}"
                                                                 title="{{ article.getTitle }}">
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                <div class="text">
                                                    <h3>
                                                        {% if article.pdf %}
                                                            <a class="fancybox over-720" data-slug="{{ article.pdf.name }}"
                                                               data-fancybox-type="iframe"
                                                               href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                                                            <a class="under-960 pdf-mobile" data-slug="{{ article.pdf.name }}"
                                                               href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                                                        {% else %}
                                                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                                                {{ article.getTitle }}</a>
                                                        {% endif %}
                                                    </h3>
                                                    <p class="date">{{ article.getReleaseDateFrontFormat() }}</p></div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}


                                       </ul></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{{ path('vyper_site_showAllEvent') }}" class="impact" style="border-color: #dd030e; ">{{ 'main.menu.events'|trans }}</a></li>
            <li><a href="{{ path('vyper_site_showAllVideos') }}" class="impact" style="border-color: #c50298; ">{{ 'main.menu.features'|trans }}</a></li>
            <li><a href="{{ path('vyper_site_showAllContests') }}" class="impact" style="border-color: #4A86B8; ">{{ 'main.menu.contests'|trans }}</a></li>
            <li><a href="{{ path('vyper_site_showAllArtist') }}" class="impact" style="border-color: #ccc700; ">{{ 'main.menu.artists'|trans }}</a></li>
            {% if themes_in_menu|length > 0 %}

                {% for theme in themes_in_menu %}
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="{{ path('vyper_site_showTheme', {'id': theme.id, 'slug': theme.slug}) }}" class="impact special">{{ theme.title }}</a></li>
                {% endfor %}

            {% endif %}
        </ul>

    </div>
</nav>

