<nav class="primary-menu dark" role="navigation" id="primary-menu">
    <div class="inner-wrapper">
        <!-- Responsive menu -->
        <a class="click-to-open-menu"><i class="fa fa-align-justify"></i></a>
        <ul class="main-menu"><li id="menu-item-50"><a href="{{ path('vyper_site_index') }}" class="impact" style="border-color: #8F408A; ">{{ 'main.menu.home'|trans }}</a></li>
            <li id="menu-item-95" class="df-dropdown mega-menu-full"><a href="http://dialy.different-themes.com/blog/" class="impact" style="border-color: #38CFCA; "><span><i class="fa fa-outdent"></i> Magazine</span></a>
                <ul class="menu-blocks row">
                    <li id="menu-item-96" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children df-dropdown grid_4 1-1">
                        <ul class="menu-content category-menu">
                            <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-10 current_page_item"><a href="http://dialy.different-themes.com/">Homepage</a></li>
                            <li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://dialy.different-themes.com/gallery-full-width/">Gallery Full Width</a></li>
                            <li id="menu-item-101" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://dialy.different-themes.com/category/technology/">Technology</a></li>
                            <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://dialy.different-themes.com/shop/">Shop Page</a></li>
                            <li id="menu-item-102" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://dialy.different-themes.com/category/lifestyle/">Lifestyle</a></li>
                            <li id="menu-item-100" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://dialy.different-themes.com/category/business/">Business</a></li>
                            <li id="menu-item-103" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://dialy.different-themes.com/category/culture/">Culture</a></li>
                            <li id="menu-item-99" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="http://dialy.different-themes.com/category/health/">Health</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-97" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children df-dropdown grid_4 2-1">
                        <ul class="menu-content featured-post">
                            <li id="menu-item-104" class="menu-item menu-item-type-taxonomy menu-item-object-category"><div class="block-layout-two">
                                    <div class="main-item">
                                        <div class="post-img">
                                            <a href="http://dialy.different-themes.com/the-homesman-rides-the-expendables-assemble-2/">
                                                <img src="http://dialy.different-themes.com/wp-content/uploads/2014/06/photodune-479410-close-up-of-a-pink-high-heels-with-diamons-m-338x250_c.jpg" alt="The Homesman rides, The Expendables assemble" title="The Homesman rides, The Expendables assemble">
                                            </a><span style="background-color: #222222">
		                    							<a href="http://dialy.different-themes.com/category/lifestyle/">Lifestyle</a>
		                    						</span></div>
                                        <h3><a href="http://dialy.different-themes.com/the-homesman-rides-the-expendables-assemble-2/">The Homesman rides, The Expendables assemble</a></h3><p class="date">June 10, 2014</p></div>
                                </div></li>
                        </ul>
                    </li>
                    <li id="menu-item-98" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children df-dropdown grid_4 3-1">
                        <ul class="menu-content article-list">
                            <li id="menu-item-105" class="menu-item menu-item-type-taxonomy menu-item-object-category"><ul class="recent-posts">    <li>
                                        <div class="image">
                                            <a href="http://dialy.different-themes.com/is-brixton-londons-next-tech-hipster-hub-2/">
                                                <img src="http://dialy.different-themes.com/wp-content/uploads/2014/06/photodune-4107116-meeting-m-80x65_c.jpg" alt="Is Brixton London’s next tech hipster hub?" title="Is Brixton London’s next tech hipster hub?">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h3><a href="http://dialy.different-themes.com/is-brixton-londons-next-tech-hipster-hub-2/">Is Brixton London’s next tech hipster hub?</a></h3><p class="date">June 10, 2014</p></div>
                                    </li>    <li>
                                        <div class="image">
                                            <a href="http://dialy.different-themes.com/scented-candles-how-i-learned-to-stop-worrying-and-smell-the-bluebells/">
                                                <img src="http://dialy.different-themes.com/wp-content/uploads/2014/06/photodune-1472069-woman-playing-tennis-m-80x65_c.jpg" alt="Scented candles: how I learned to stop worrying and smell the bluebells" title="Scented candles: how I learned to stop worrying and smell the bluebells">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h3><a href="http://dialy.different-themes.com/scented-candles-how-i-learned-to-stop-worrying-and-smell-the-bluebells/">Scented candles: how I learned to stop worrying and smell the bluebells</a></h3><p class="date">June 9, 2014</p></div>
                                    </li>    <li>
                                        <div class="image">
                                            <a href="http://dialy.different-themes.com/paris-fashion-week-aw14-the-10-key-trends-in-pictures/">
                                                <img src="http://dialy.different-themes.com/wp-content/uploads/2014/06/photodune-1557278-tower-bridge-london-m-80x65_c.jpg" alt="Paris fashion week AW14: the 10 key trends – in pictures" title="Paris fashion week AW14: the 10 key trends – in pictures">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h3><a href="http://dialy.different-themes.com/paris-fashion-week-aw14-the-10-key-trends-in-pictures/">Paris fashion week AW14: the 10 key trends – in pictures</a></h3><p class="date">June 9, 2014</p></div>
                                    </li>    <li>
                                        <div class="image">
                                            <a href="http://dialy.different-themes.com/thinking-of-buying-dungarees-just-dont-expect-them-to-transform-you-into-alexa-chung/">
                                                <img src="http://dialy.different-themes.com/wp-content/uploads/2014/06/0-80x65_c.jpg" alt="Thinking of buying dungarees? Just don’t expect them to transform you into Alexa Chung" title="Thinking of buying dungarees? Just don’t expect them to transform you into Alexa Chung">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h3><a href="http://dialy.different-themes.com/thinking-of-buying-dungarees-just-dont-expect-them-to-transform-you-into-alexa-chung/">Thinking of buying dungarees? Just don’t expect them to transform you into Alexa Chung</a></h3><p class="date">June 9, 2014</p></div>
                                    </li>    <li>
                                        <div class="image">
                                            <a href="http://dialy.different-themes.com/savers-offered-fixes-of-up-to-seven-years/">
                                                <img src="http://dialy.different-themes.com/wp-content/uploads/2014/06/photodune-6422230-sunset-l-80x65_c.jpg" alt="Savers offered fixes of up to seven years" title="Savers offered fixes of up to seven years">
                                            </a>
                                        </div>
                                        <div class="text">
                                            <h3><a href="http://dialy.different-themes.com/savers-offered-fixes-of-up-to-seven-years/">Savers offered fixes of up to seven years</a></h3><p class="date">June 9, 2014</p></div>
                                    </li></ul></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-item-332" class="df-dropdown mega-menu-full"><a href="{{ path('vyper_site_showAllArticles') }}" class="impact" style="border-color: #fe7316; "><span>Articles</span></a>
                <ul class="menu-blocks row">
                    <li id="menu-item-96" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children df-dropdown grid_4 1-1">
                        <ul class="menu-content category-menu">
                            <li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-10 current_page_item"><a href="{{ path('vyper_site_news') }}">{{ 'article.type.news'|trans }}</a></li>
                            <li id="menu-item-115" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ path('vyper_site_chroniques') }}">{{ 'article.type.chronique'|trans }}</a></li>
                            <li id="menu-item-101" class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="{{ path('vyper_site_liveReports') }}">{{ 'article.type.live.report'|trans }}</a></li>
                            <li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ path('vyper_site_interviews') }}">{{ 'article.type.interview'|trans }}</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-97" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children df-dropdown grid_4 2-1">
                        <ul class="menu-content featured-post">
                            <li id="menu-item-104" class="menu-item menu-item-type-taxonomy menu-item-object-category">
                                {% for article in highlight_in_menu %}
                                {% if loop.index == 1 %}
                                <div class="block-layout-two">
                                    <div class="main-item">
                                        <div class="post-img">
                                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                                <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath()) }}" data-size="338x250" alt="{{ article.getTitle }}" title="{{ article.getTitle }}">
                                            </a><span style="background-color: #222222">
		                    							<a href="#">{{ article.getArticleType.getName }}</a>
		                    						</span></div>
                                        <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3><p class="date">{{ article.getReleaseDateFrontFormat() }}</p></div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-98" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children df-dropdown grid_4 3-1">
                        <ul class="menu-content article-list">
                            <li id="menu-item-105" class="menu-item menu-item-type-taxonomy menu-item-object-category"><ul class="recent-posts">

                                    {% for article in highlight_in_menu %}
                                        {% if loop.index > 1 and loop.index <6 %}
                                            <li>
                                                <div class="image">
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                                        <img src="{{ app.request.getSchemeAndHttpHost() ~ asset(article.picture.getPath('80-65')) }}" alt="{{ article.getTitle }}" title="{{ article.getTitle }}">
                                                    </a>
                                                </div>
                                                <div class="text">
                                                    <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3><p class="date">{{ article.getReleaseDateFrontFormat() }}</p></div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}


                                       </ul></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li id="menu-item-326"><a href="{{ path('vyper_site_showAllEvent') }}" class="impact" style="border-color: #dd030e; ">Events</a></li>
            <li id="menu-item-329"><a href="{{ path('vyper_site_showAllVideos') }}" class="impact" style="border-color: #c50298; ">{{ 'main.menu.features'|trans }}</a></li>
            <li id="menu-item-336"><a href="http://dialy.different-themes.com/category/technology/" class="impact" style="border-color: #4A86B8; ">{{ 'main.menu.contests'|trans }}</a></li>
            <li id="menu-item-338"><a href="{{ path('vyper_site_showAllArtist') }}" class="impact" style="border-color: #ccc700; ">{{ 'main.menu.artists'|trans }}</a></li>
            {% if themes_in_menu|length > 0 %}

                {% for theme in themes_in_menu %}
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="{{ path('vyper_site_showTheme', {'id': theme.id, 'slug': theme.slug}) }}" class="impact special">{{ theme.title }}</a></li>
                {% endfor %}

            {% endif %}
        </ul>

    </div>
</nav>

