{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title "Visual kei - JPop - Jrock - Jmusic avec VYPER Japanese Music Magazine | Toute la Jmusic, toutes les news en temps réels" %}

    {% block content %}

        <div class="block-layout-two row">
            <p class="title">
                <span>Les dernières <strong>News</strong></span>
            </p>

            {% for article in latest_news %}
                {% if loop.index <3 %}
                <div class="grid_6">
                    <div class="main-item">
                        <div class="post-img">
                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}">
                            </a>

                        </div>
                        <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3>
                        <div class="post-dca">
                            <span class="author">{{ 'article.author'|trans }} <a href="#">{{ article.author }}</a></span>
                            <span class="date">{{ 'article.published'|trans }} <a href="#month">{{ article.getReleaseDateFrontFormat() }}</a></span>
                        </div>
                        <p>{{ article.getDescription }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

        </div>

        <div class="text-center under-margin">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- footer-leaderboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-3070362287154347"
                 data-ad-slot="5037213511"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <div class="block-layout-five under-margin">

            {% for article in big_news %}
            {% if loop.index == 1 %}
                <div class="main-item">
                    <div class="post-img">
                        <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                            <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}">
                        </a>
                                    <span style="background-color: #222222">
                        <a href="#">{{ article.getArticleType.getName }}</a>
                    </span>
                    </div>
                    <div class="post-meta">
                        <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3>
                        <div class="post-dca">
                            <span class="author">{{ 'article.author'|trans }} <a href="#">{{ article.author }}</a></span>
                            <span class="date">{{ 'article.published'|trans }} <a href="#month">{{ article.getReleaseDateFrontFormat() }}</a></span>
                            <span class="theme">Theme <a href="#">{{ article.getArticleType.getName }}</a></span>
                        </div>
                        <p>{{ article.getDescription }}</p>
                    </div>
                </div>
            {% endif %}
            {% endfor %}


        </div>

        <div class="block-layout-two row">

            {% for article in latest_livereports %}
                {% if loop.index>1 and loop.index<4 %}
                    <div class="grid_6">
                        <div class="main-item">
                            <div class="post-img">
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                    <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}">
                                </a>
                                <span style="background-color: #4A86B8">
                                    <a href="#">{{ article.getArticleType.getName }}</a>
                                </span>
                            </div>
                            <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3>
                            <div class="post-dca">
                                <span class="author">{{ 'article.author'|trans }} <a href="#">{{ article.author }}</a></span>
                                <span class="date">{{ 'article.published'|trans }} <a href="#month">{{ article.getReleaseDateFrontFormat() }}</a></span>
                            </div>
                            <p>{{ article.getDescription }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>


    {% endblock %}

    {% block javascripts_footer %}

        {{ parent() }}

        {% javascripts
        'bundles/vypersite/dialy/lib/js/flexslider.min.js'
        %}

        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            // Flexslider
            jQuery(".flexslider").flexslider({
                animation: "fade",
                slideshow: true,
                slideshowSpeed: 5000,
                controlNav: false
            });
        </script>

    {% endblock %}