{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title "Visual kei - JPop - Jrock - Jmusic avec VYPER Japanese Music Magazine | Toute la Jmusic, toutes les news en temps réels" %}

    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets filter='cssrewrite'
        'bundles/vypersite/css/fancybox/jquery.fancybox.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

    {% block content %}

        <div class="block-layout-two row">
            <p class="title">
                <span><strong>{{ 'homepage.latests.news'|trans }}</strong></span>
            </p>

            {% for article in latest_news %}
                {% if loop.index <3 %}
                <div class="grid_6">
                    <div class="main-item">
                        <div class="post-img">
                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}">
                            </a>

                        </div>
                        <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3>
                        <div class="post-dca">
                            <span class="author">{{ 'article.author'|trans }} <a href="#">{{ article.author }}</a></span>
                            <span class="date">{{ 'article.published'|trans }} <a href="#month">{{ article.getReleaseDateFrontFormat() }}</a></span>
                        </div>
                        <p>{{ article.getDescription }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

        </div>

        <div class="text-center under-margin over-960">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- footer-leaderboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-3070362287154347"
                 data-ad-slot="5037213511"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="only-720">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- un_artist + encarts index -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:468px;height:60px"
                 data-ad-client="ca-pub-3070362287154347"
                 data-ad-slot="6183315514"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <div class="only-mobile">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Grande banniere pour mobile -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:320px;height:100px"
                 data-ad-client="ca-pub-3070362287154347"
                 data-ad-slot="3670659510"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <div class="block-layout-five under-margin">

            {% for article in big_news %}
            {% if loop.index == 1 %}
                <div class="main-item">
                    <div class="post-img">
                        {% if article.pdf %}
                            <a class="fancybox over-720" data-slug="{{ article.slug }}" data-fancybox-type="iframe"
                               href="{{ asset(article.pdf.getPath()) }}">
                                <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}"
                                     title="{{ article.getTitle }}">        </a>
                            <a class="under-960 pdf-mobile" data-slug="{{ article.slug }}" data-fancybox-type="iframe"
                               href="{{ asset(article.pdf.getPath()) }}">
                                <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}"
                                     title="{{ article.getTitle }}">        </a>
                        {% else %}
                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                <img src="{{ asset(article.picture.getPath()) }}" alt="{{ article.getTitle }}" title="{{ article.getTitle }}">        </a>
                        {% endif %}
                                    <span style="background-color: #222222">
                        <a href="#">{{ article.getArticleType.getName }}</a>
                    </span>
                    </div>
                    <div class="post-meta">
                        <h3>
                            {% if article.pdf %}
                                <a class="fancybox over-720" data-slug="{{ article.slug }}" data-fancybox-type="iframe"
                                   href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                                <a class="under-960 pdf-mobile" data-slug="{{ article.slug }}"
                                   href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                            {% else %}
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                            {% endif %}
                        </h3>
                        <div class="post-dca">
                            <span class="author">{{ 'article.author'|trans }} <a href="#">{{ article.author }}</a></span>
                            <span class="date">{{ 'article.published'|trans }} <a href="#month">{{ article.getReleaseDateFrontFormat() }}</a></span>
                            <span class="theme">Theme <a href="#">{{ article.getArticleType.getName }}</a></span>
                        </div>
                        <p>{{ article.getDescription }}</p>

                        {% if article.pdf %}
                            <a data-slug="{{ article.slug }}" class="under-960 pdf-mobile btn btn-default read-button"
                               href="{{ asset(article.pdf.getPath()) }}"><i class="fa fa-file"></i> {{ 'button.open.pdf'|trans }}</a>
                            <a data-slug="{{ article.slug }}" href="{{ asset(article.pdf.getPath()) }}"
                               class="btn btn-default fancybox over-720 read-button"
                               data-fancybox-type="iframe"
                                    ><i class="fa fa-file"></i> {{ 'button.open.pdf'|trans }}</a>
                            {% if article.youtube %}
                                <a href="http://www.youtube.com/v/{{ article.youtube }}?fs=1&amp;autoplay=1"
                                   class="fancy-video btn btn-default over-720 read-button">
                                    <i class="fa fa-youtube-play"></i> Video</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% endfor %}


        </div>

        <div class="block-layout-two row">

            {% for article in latest_livereports %}
                {% if loop.index>1 and loop.index<4 %}
                    <div class="grid_6">
                        <div class="main-item">
                            <div class="post-img">
                                {% if article.pdf %}
                                    <a class="fancybox over-720" data-slug="{{ article.slug }}" data-fancybox-type="iframe"
                                       href="{{ asset(article.pdf.getPath()) }}">
                                        <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}"
                                             title="{{ article.getTitle }}">        </a>
                                    <a class="under-960 pdf-mobile" data-slug="{{ article.slug }}" data-fancybox-type="iframe"
                                       href="{{ asset(article.pdf.getPath()) }}">
                                        <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}"
                                             title="{{ article.getTitle }}">        </a>
                                {% else %}
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                        <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}"
                                             title="{{ article.getTitle }}">
                                    </a>
                                {% endif %}
                                <span style="background-color: #4A86B8">
                                    <a href="#">{{ article.getArticleType.getName }}</a>
                                </span>
                            </div>
                            <h3>
                                {% if article.pdf %}
                                    <a class="fancybox over-720" data-slug="{{ article.slug }}" data-fancybox-type="iframe"
                                       href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                                    <a class="under-960 pdf-mobile" data-slug="{{ article.slug }}"
                                       href="{{ asset(article.pdf.getPath()) }}">{{ article.getTitle }}</a>
                                {% else %}
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                        {{ article.getTitle }}</a>
                                {% endif %}
                            </h3>
                            <div class="post-dca">
                                <span class="author">{{ 'article.author'|trans }} <a href="#">{{ article.author }}</a></span>
                                <span class="date">{{ 'article.published'|trans }} <a href="#month">{{ article.getReleaseDateFrontFormat() }}</a></span>
                            </div>
                            <p>{{ article.getDescription }}</p>

                            {% if article.pdf %}
                                <a data-slug="{{ article.slug }}" class="under-960 pdf-mobile btn btn-default read-button"
                                   href="{{ asset(article.pdf.getPath()) }}"><i class="fa fa-file"></i> {{ 'button.open.pdf'|trans }}</a>
                                <a data-slug="{{ article.slug }}" href="{{ asset(article.pdf.getPath()) }}"
                                   class="btn btn-default fancybox over-720 read-button"
                                   data-fancybox-type="iframe"
                                        ><i class="fa fa-file"></i> {{ 'button.open.pdf'|trans }}</a>

                                {% if article.youtube %}
                                    <a href="http://www.youtube.com/v/{{ article.youtube }}?fs=1&amp;autoplay=1"
                                       class="fancy-video btn btn-default over-720 read-button">
                                        <i class="fa fa-youtube-play"></i> Video</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>


    {% endblock %}

    {% block javascripts_footer %}

        {{ parent() }}

        {% javascripts
        'bundles/vypersite/dialy/lib/js/flexslider.min.js'
        %}

        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>

            $(function () {

                // Flexslider
                jQuery(".flexslider").flexslider({
                    animation: "fade",
                    slideshow: true,
                    slideshowSpeed: 5000,
                    controlNav: false
                });
            });



            function googleSend(elem) {
                var slug = elem.data('slug');
                ga('send', 'event', 'Article PDF', 'Clic', slug, {'nonInteraction': 1});
            }

        </script>

        {% javascripts
        'bundles/vypersite/js/fancybox/jquery.fancybox.pack.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>

            $(function () {
                var fancybox_elem = $(".fancybox");
                fancybox_elem.fancybox({
                    openEffect  : 'none',
                    closeEffect : 'none',
                    iframe : {
                        preload: false
                    },
                    helpers : {
                        overlay: {
                            opacity: 0.8, // or the opacity you want
                            css: {'background-color': '#000000'} // or your preferred hex color value
                        } // overlay
                    } // helpers
                });

                fancybox_elem.on('click', function() {
                    googleSend($(this));
                });

                $('.pdf-mobile').on('click', function() {
                    googleSend($(this));
                });

            });
        </script>

    {% endblock %}