{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title "Visual kei - JPop - Jrock - Jmusic avec VYPER Japanese Music Magazine | Toute la Jmusic, toutes les news en temps réels" %}

    {% block content %}

        <div class="block-layout-two row">
            <p class="title">
                <span>Popular <strong>News</strong></span>
            </p>

            {% for article in latest_news %}
                {% if loop.index <3 %}
                <div class="grid_6">
                    <div class="main-item">
                        <div class="post-img">
                            <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}">
                            </a>

                        </div>
                        <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3>
                        <div class="post-dca">
                            <span class="date">June 9, 2014</span>
                            <span class="comments"><a href="http://dialy.different-themes.com/sali-hughes-on-facial-sunblocks-2/#comments">No Comments</a></span>
                            <span class="author"><a href="http://dialy.different-themes.com/author/admin/" title="Posts by Different Themes" rel="author">Different Themes</a></span>
                            <ul class="rating-list">
                                <li>

                                </li>
                            </ul>
                        </div>
                        <p>{{ article.getDescription }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}

        </div>

        <div class="text-center under-margin">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- footer-leaderboard -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-3070362287154347"
                 data-ad-slot="5037213511"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <div class="block-layout-five under-margin">

            {% for article in big_news %}
            {% if loop.index == 1 %}
                <div class="main-item">
                    <div class="post-img">
                        <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                            <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}">
                        </a>
                                    <span style="background-color: #222222">
                        <a href="#">{{ article.getArticleType.getName }}</a>
                    </span>
                    </div>
                    <div class="post-meta">
                        <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3>
                        <div class="post-dca">
                            <span class="date">June 10, 2014</span>
                            <span class="comments"><a href="http://dialy.different-themes.com/the-homesman-rides-the-expendables-assemble-2/#comments">No Comments</a></span>
                            <span class="author"><a href="http://dialy.different-themes.com/author/admin/" title="Posts by Different Themes" rel="author">Different Themes</a></span>
                            <ul class="rating-list">
                                <li>

                                </li>
                            </ul>
                        </div>
                        <p>{{ article.getDescription }}</p>
                    </div>
                </div>
            {% endif %}
            {% endfor %}


        </div>

        <div class="block-layout-two row">

            {% for article in latest_livereports %}
                {% if loop.index>1 and loop.index<4 %}
                    <div class="grid_6">
                        <div class="main-item">
                            <div class="post-img">
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">
                                    <img src="{{ asset(article.picture.getPath('303-162')) }}" alt="{{ article.getTitle }}">
                                </a>
                                <span style="background-color: #4A86B8">
                                    <a href="#">{{ article.getArticleType.getName }}</a>
                                </span>
                            </div>
                            <h3><a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a></h3>
                            <div class="post-dca">
                                <span class="date">June 9, 2014</span>
                                <span class="comments"><a href="http://dialy.different-themes.com/sali-hughes-on-facial-sunblocks-2/#comments">No Comments</a></span>
                                <span class="author"><a href="http://dialy.different-themes.com/author/admin/" title="Posts by Different Themes" rel="author">Different Themes</a></span>
                                <ul class="rating-list">
                                    <li>

                                    </li>
                                </ul>
                            </div>
                            <p>{{ article.getDescription }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>

        <section class="row">
        <!-- category1 -->

        <div class="col-md-6">

            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <h4><i class="fa fa-newspaper-o"></i> Actualités</h4>
                </div>
            </div>



            {% for article in latest_actu %}
                {% if loop.index == 1 %}


                    <div class="main-post">

                        {% if article.getYoutube %}
                            <div class="thumb-wrap video-thumb">
                                <iframe width="290" height="180" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                            </div>

                        {% else %}
                            <div class="thumb-wrap">
                                <div class="thumb">
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('303-162')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                </div>



                                <div class="overlay">
                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                </div>
                            </div>
                        {% endif %}



                        <div class="post-details">
                            <h3>
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                            </h3>

                            <div class="entry-meta">
                                <span class="date"><i class="fa fa-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>



                            </div>
                            <p>{{ article.getDescription }}</p>
                        </div>
                    </div>
                    <!-- /one-half -->

                {% endif %}
            {% endfor %}



            <div class="post-list feat-cat">

                {% for key, article in latest_actu %}
                    {% if key>0 and key<4 %}

                        <div class="item-post">
                            <div class="thumb">
                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                            </div>

                            <div class="post-right">
                                <h5>
                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                </h5>

                                <div class="entry-meta">
                                    <span class="date">
                                        <i class="fa fa-calendar"></i>
                                        {{ article.getReleaseDateFrontFormat(article.getId) }}
                                    </span>


                                </div>
                            </div>
                        </div>


                    {% endif %}
                {% endfor %}
            </div><!-- /one-half -->
        </div><!-- /section1-cat -->
        <!-- /category1 -->

        <!-- category2 -->

        <div class="col-md-6">

            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <h4><i class="fa fa-youtube-play"></i> Vidéo du jour</h4>
                </div>
            </div>



            {% if last_videos is defined %}
                {% for key, video in last_videos %}

                    {% if key == 0 %}
                    <div class="main-post">


                        <div class="thumb-wrap video-thumb">
                            <iframe width="290" height="180" src="//www.youtube.com/embed/{{ video.youtube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                        </div>


                        <div class="post-details">
                            <h3>
                                <a href="{{ path('showVideo', {slug: video.slug, id: video.id}) }}">{{ video.getTitle|escape }}</a>
                            </h3>

                            <div class="entry-meta">
                                <span class="date"><i class="fa fa-calendar"></i> {{ video.getReleaseDateFrontFormat(video.getId) }}</span><br />

                            </div>
                            <p>{{ video.getDescription }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="row latest-video">
            {% for key, video in last_videos %}
                {% if key > 0 %}
                    <div class="col-xs-6">
                        <div class="last-video">

                            <a href="{{ path('showVideo', {slug: video.slug, id: video.id}) }}">
                                <img src="{{ asset(video.picture.getPath('video-daily')) }}" alt="" width="100%" height="130" />
                                <div class="play-last-video">

                                </div>
                            </a>
                        </div>

                    </div>
                {% endif %}
            {% endfor %}
            </div>




        </div><!-- /section1-cat -->
        <!-- /category2 -->





        </section>



        <!-- category2 -->
        <div class="feat-cat section">


            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <h4><i class="fa fa-music"></i> Musique</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 homepage-section">
                    <div class="row">
                        <div class="col-md-6">
                            {%  if latest_jeux_videos is defined %}
                                {% for article in latest_news %}
                                    {% if loop.index == 1 %}



                                        {% if article.getYoutube %}
                                            <div class="thumb-wrap video-thumb">
                                                <iframe width="290" height="180" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                            </div>

                                        {% else %}
                                            <div class="thumb-wrap">
                                                <div class="thumb">
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('303-162')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                                </div>



                                                <div class="overlay">
                                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}



                                        <div class="post-details">
                                            <h3>
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                                            </h3>

                                            <div class="entry-meta">
                                                <span class="date"><i class="fa fa-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>


                                            </div>
                                            <p>{{ article.getDescription }}</p>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-6 feat-cat">
                            {%  if latest_news is defined %}
                                {% for key, article in latest_news %}
                                    {% if key>0 and key<4 %}

                                        <div class="item-post">
                                            <div class="thumb">
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                                            </div>

                                            <div class="post-right">
                                                <h5>
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                                </h5>

                                                <div class="entry-meta">
                                                            <span class="date">
                                                                <i class="fa fa-calendar"></i>
                                                                {{ article.getReleaseDateFrontFormat(article.getId) }}
                                                            </span>

                                                </div>
                                            </div>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>










        </div><!-- /feat-cat -->
        <!-- /category2 -->





        <!-- category2 -->
        <div class="feat-cat section">


            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <h4><i class="fa fa-gamepad"></i> Jeux Vidéos</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 homepage-section">
                    <div class="row">
                        <div class="col-md-6">
                            {%  if latest_jeux_videos is defined %}
                                {% for article in latest_jeux_videos %}
                                    {% if loop.index == 1 %}



                                        {% if article.getYoutube %}
                                            <div class="thumb-wrap video-thumb">
                                                <iframe width="290" height="180" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                            </div>

                                        {% else %}
                                            <div class="thumb-wrap">
                                                <div class="thumb">
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('303-162')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                                </div>



                                                <div class="overlay">
                                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}



                                        <div class="post-details">
                                            <h3>
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                                            </h3>

                                            <div class="entry-meta">
                                                <span class="date"><i class="fa fa-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>


                                            </div>
                                            <p>{{ article.getDescription }}</p>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-6 feat-cat">
                            {%  if latest_jeux_videos is defined %}
                                {% for key, article in latest_jeux_videos %}
                                    {% if key>0 and key<4 %}

                                        <div class="item-post">
                                            <div class="thumb">
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                                            </div>

                                            <div class="post-right">
                                                <h5>
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                                </h5>

                                                <div class="entry-meta">
                                                            <span class="date">
                                                                <i class="fa fa-calendar"></i>
                                                                {{ article.getReleaseDateFrontFormat(article.getId) }}
                                                            </span>

                                                </div>
                                            </div>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>










        </div><!-- /feat-cat -->
        <!-- /category2 -->




        <!-- category2 -->
        <div class="feat-cat section">


            <div class="cat-header">
                <div class="cat-title second-color-bg">
                    <h4><i class="fa fa-language"></i> Culture</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 homepage-section">
                    <div class="row">
                        <div class="col-md-6">
                            {% if latest_culture is defined %}
                                {% for article in latest_culture %}
                                    {% if loop.index == 1 %}



                                        {% if article.getYoutube %}
                                            <div class="thumb-wrap video-thumb">
                                                <iframe width="290" height="180" src="//www.youtube.com/embed/{{ article.getYoutube }}?wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                                            </div>

                                        {% else %}
                                            <div class="thumb-wrap">
                                                <div class="thumb">
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('303-162')) }}" class="attachment-fp374_200 wp-post-image" alt=""></a>
                                                </div>


                                                <div class="overlay">
                                                    <a class="post-link" href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><i class="icon-link"></i></a>
                                                </div>
                                            </div>
                                        {% endif %}



                                        <div class="post-details">
                                            <h3>
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}">{{ article.getTitle }}</a>
                                            </h3>

                                            <div class="entry-meta">
                                                <span class="date"><i class="fa fa-calendar"></i> {{ article.getReleaseDateFrontFormat(article.getId) }}</span>


                                            </div>
                                            <p>{{ article.getDescription }}</p>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-md-6 feat-cat">
                            {% if latest_culture is defined %}
                                {% for key, article in latest_culture %}
                                    {% if key>0 and key<4 %}

                                        <div class="item-post">
                                            <div class="thumb">
                                                <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}"><img src="{{ asset(article.picture.getPath('75-75')) }}" class="attachment-fp75_75 wp-post-image" alt="3"></a>
                                            </div>

                                            <div class="post-right">
                                                <h5>
                                                    <a href="{{ path('showArticle', {'id': article.getId, 'slug': article.slug}) }}" rel="bookmark">{{ article.getTitle }}</a>
                                                </h5>

                                                <div class="entry-meta">
                                                    <span class="date">
                                                    <i class="fa fa-calendar"></i>
                                                        {{ article.getReleaseDateFrontFormat(article.getId) }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>


                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /feat-cat -->


    {% endblock %}

    {% block javascripts_footer %}

        {{ parent() }}

        {% javascripts
        'bundles/vypersite/dialy/lib/js/flexslider.min.js'
        %}

        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script>
            // Flexslider
            jQuery(".flexslider").flexslider({
                animation: "fade",
                slideshow: true,
                slideshowSpeed: 5000,
                controlNav: false
            });
        </script>

    {% endblock %}