{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}{{ 'title.events'|trans }} | {{ parent() }}{% endblock %}

    {% block content %}
        <header class="archive-header">
            <h2 class="archive-title">{{ 'title.events'|trans }}</h2>
        </header><!-- /archive-header -->

        <div id="eventContent" title="Event Details" style="display:none;">
            <strong class="main-color">Date:</strong> <span id="dateInfo"></span><br>
            <strong class="main-color">{{ 'event.start'|trans }}:</strong> <span id="startTime"></span><br>
            <strong class="main-color">{{ 'event.end'|trans }}:</strong> <span id="endTime"></span><br><br>
            <span id="langInfo"></span>
            <span id="presentInfo"></span>
            <p id="eventInfo"></p>

            <div id="map"></div>

            <p><strong><a id="eventLink" href="">{{ 'event.more'|trans }}</a></strong></p>
        </div>

        <div id='calendar'></div>

        <script>

            $(document).ready(function() {

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'prevYear,month,agendaWeek,agendaDay'
                    },
                    buttonText: {
                        today: '{{ 'calendar.today'|trans }}',
                        month: '{{ 'calendar.month'|trans }}',
                        week: '{{ 'calendar.week'|trans }}',
                        day: '{{ 'calendar.day'|trans }}'
                    },
                    columnFormat:{
                        month: 'ddd '    // Mon
                    },
                    firstDay:1,
                    height: 'auto',
                    minTime : '06:00:00',
                    monthNames: ['{{ 'calendar.monthNames.january'|trans }}','{{ 'calendar.monthNames.february'|trans }}','{{ 'calendar.monthNames.march'|trans }}','{{ 'calendar.monthNames.april'|trans }}','{{ 'calendar.monthNames.may'|trans }}','{{ 'calendar.monthNames.june'|trans }}','{{ 'calendar.monthNames.july'|trans }}','{{ 'calendar.monthNames.august'|trans }}','{{ 'calendar.monthNames.september'|trans }}','{{ 'calendar.monthNames.october'|trans }}','{{ 'calendar.monthNames.november'|trans }}','{{ 'calendar.monthNames.december'|trans }}'],
                    monthNamesShort: ['{{ 'calendar.monthNamesShort.jan'|trans }}','{{ 'calendar.monthNamesShort.feb'|trans }}','{{ 'calendar.monthNamesShort.mar'|trans }}','{{ 'calendar.monthNamesShort.apr'|trans }}','{{ 'calendar.monthNamesShort.may'|trans }}','{{ 'calendar.monthNamesShort.jun'|trans }}','{{ 'calendar.monthNamesShort.jul'|trans }}','{{ 'calendar.monthNamesShort.aug'|trans }}','{{ 'calendar.monthNamesShort.sep'|trans }}','{{ 'calendar.monthNamesShort.oct'|trans }}','{{ 'calendar.monthNamesShort.nov'|trans }}','{{ 'calendar.monthNamesShort.dec'|trans }}'],
                    dayNames: ['{{ 'calendar.dayNames.sun'|trans }}','{{ 'calendar.dayNames.mon'|trans }}','{{ 'calendar.dayNames.tue'|trans }}','{{ 'calendar.dayNames.wed'|trans }}','{{ 'calendar.dayNames.thu'|trans }}','{{ 'calendar.dayNames.fri'|trans }}','{{ 'calendar.dayNames.sat'|trans }}'],
                    dayNamesShort: ['{{ 'calendar.dayNamesShort.sun'|trans }}','{{ 'calendar.dayNamesShort.mon'|trans }}','{{ 'calendar.dayNamesShort.tue'|trans }}','{{ 'calendar.dayNamesShort.wed'|trans }}','{{ 'calendar.dayNamesShort.thu'|trans }}','{{ 'calendar.dayNamesShort.fri'|trans }}','{{ 'calendar.dayNamesShort.sat'|trans }}'],
                    allDaySlot: false,
                    axisFormat : 'H:mm',
                    timeFormat: 'H:mm',
                    defaultDate: '{{ defaultDate }}',
                    editable: false,
                    eventLimit: true, // allow "more" link when too many events
                    eventRender: function (event, element) {
                        element.attr('href', 'javascript:void(0);');
                        element.click(function() {

                            console.log(event);


                            $("#dateInfo").html(event.date_info);
                            $("#startTime").html(event.startTime_info);
                            $("#eventInfo").html(event.description);
                            if (event.endTime_info != undefined) {
                                $("#endTime").html(event.endTime_info);
                            } else {
                                $("#endTime").html('-');
                            }
                            if (event.googlemap != undefined) {
                                $("#map").html('<iframe width="100%" scrolling="no" height="270" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=' + event.googlemap + '&amp;z=14&amp;iwloc=near&amp;output=embed" marginwidth="0" marginheight="0"></iframe>');
                            } else {
                                $("#map").html('');
                            }

                            if (event.lang != undefined) {
                                $("#langInfo").html('<strong class="main-color">Langue: </strong>'+event.lang+'<br />');
                            } else $("#langInfo").html('');

                            if (event.present != undefined) {
                                $("#presentInfo").html('<strong class="main-color">Cadeau(x): </strong>'+event.present+'<br />');
                            } else $("#presentInfo").html('');

                            $("#eventLink").attr('href', event.url);
                            $("#eventContent").dialog({ modal: true, title: event.title, width:500});
                        });
                    },
                    events: {{ events|raw }}
                });

            });

        </script>
    {% endblock %}