{% extends "VyperSiteBundle:layouts:layout.html.twig" %}

{% block title %}{{ 'title.events'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    {% stylesheets filter='cssrewrite'
    'bundles/vypersite/css/fullcalendar/fullcalendar.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block above_the_fold %}
    <div id="above-the-fold" class="above-the-fold light">
        <div class="inner-wrapper">
            <h2 class="page-title" id="title-cal-europe">{{ 'event.title.calendar.eu'|trans|upper }}</h2>
            <h2 class="page-title" id="title-cal-us">{{ 'event.title.calendar.us'|trans|upper }}</h2>
            <h2 class="page-title" id="title-cal-asie">{{ 'event.title.calendar.asia'|trans|upper }}</h2>
        </div>
    </div>
{% endblock %}


    {% block content %}


        <div id="eventContent" title="Event Details" style="display:none;">
            <strong class="main-color">Date:</strong> <span id="dateInfo"></span><br>
            <strong class="main-color">{{ 'event.start'|trans }}:</strong> <span id="startTime"></span><br>
            <strong class="main-color">{{ 'event.end'|trans }}:</strong> <span id="endTime"></span><br><br>
            <span id="langInfo"></span>
            <span id="presentInfo"></span>
            <p id="eventInfo"></p>

            <div id="map"></div>

            <p><strong><a id="eventLink" href="">{{ 'event.more'|trans }}</a></strong></p>
        </div>

        <div class="calendar" id="cal-europe">
            <div id='calendar'></div>
        </div>
        <div class="calendar" id="cal-us">
            <div id='calendarUS'></div>
        </div>
        <div class="calendar" id="cal-asie">
            <div id='calendarJP'></div>
        </div>




    {% endblock %}

{% block sidebar_context %}
    <ul id="switch-cals">
        <li><a href="#" class="toggle-cal btn btn-large btn-radius" data-cal="cal-europe"><i class="fa fa-calendar"></i> {{ 'event.title.calendar.eu'|trans|upper }}</a></li>
        <li><a href="#" class="toggle-cal btn btn-large btn-radius" data-cal="cal-us"><i class="fa fa-calendar"></i> {{ 'event.title.calendar.us'|trans|upper }}</a></li>
        <li><a href="#" class="toggle-cal btn btn-large btn-radius" data-cal="cal-asie"><i class="fa fa-calendar"></i> {{ 'event.title.calendar.asia'|trans|upper }}</a></li>
    </ul>
{% endblock %}

{% block javascripts_footer %}

    {{ parent() }}

    {% javascripts
    'bundles/vypersite/js/vendor/moment.min.js'
    'bundles/vypersite/js/fullcalendar/fullcalendar.min.js'
    %}

    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>

        $(window).load(function() {

            var titles = $('.page-title');
            titles.hide();
            $('#title-cal-europe').show();

            var calendars = $(".calendar");
            calendars.hide();
            $('#cal-europe').show();


            $(".toggle-cal").on("click", function(e) {

                e.preventDefault();

                $(".calendar").hide();
                var geo = $(this).data('cal');
                $('#'+geo).show();

                $('.page-title').hide();
                $('#title-'+geo).show();

            });
        });

    </script>

    <script>

        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'prevYear,month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: '{{ 'calendar.today'|trans }}',
                    month: '{{ 'calendar.month'|trans }}',
                    week: '{{ 'calendar.week'|trans }}',
                    day: '{{ 'calendar.day'|trans }}'
                },
                columnFormat:{
                    month: 'ddd '    // Mon
                },
                firstDay:1,
                height: 'auto',
                minTime : '06:00:00',
                monthNames: ['{{ 'calendar.monthNames.january'|trans }}','{{ 'calendar.monthNames.february'|trans }}','{{ 'calendar.monthNames.march'|trans }}','{{ 'calendar.monthNames.april'|trans }}','{{ 'calendar.monthNames.may'|trans }}','{{ 'calendar.monthNames.june'|trans }}','{{ 'calendar.monthNames.july'|trans }}','{{ 'calendar.monthNames.august'|trans }}','{{ 'calendar.monthNames.september'|trans }}','{{ 'calendar.monthNames.october'|trans }}','{{ 'calendar.monthNames.november'|trans }}','{{ 'calendar.monthNames.december'|trans }}'],
                monthNamesShort: ['{{ 'calendar.monthNamesShort.jan'|trans }}','{{ 'calendar.monthNamesShort.feb'|trans }}','{{ 'calendar.monthNamesShort.mar'|trans }}','{{ 'calendar.monthNamesShort.apr'|trans }}','{{ 'calendar.monthNamesShort.may'|trans }}','{{ 'calendar.monthNamesShort.jun'|trans }}','{{ 'calendar.monthNamesShort.jul'|trans }}','{{ 'calendar.monthNamesShort.aug'|trans }}','{{ 'calendar.monthNamesShort.sep'|trans }}','{{ 'calendar.monthNamesShort.oct'|trans }}','{{ 'calendar.monthNamesShort.nov'|trans }}','{{ 'calendar.monthNamesShort.dec'|trans }}'],
                dayNames: ['{{ 'calendar.dayNames.sun'|trans }}','{{ 'calendar.dayNames.mon'|trans }}','{{ 'calendar.dayNames.tue'|trans }}','{{ 'calendar.dayNames.wed'|trans }}','{{ 'calendar.dayNames.thu'|trans }}','{{ 'calendar.dayNames.fri'|trans }}','{{ 'calendar.dayNames.sat'|trans }}'],
                dayNamesShort: ['{{ 'calendar.dayNamesShort.sun'|trans }}','{{ 'calendar.dayNamesShort.mon'|trans }}','{{ 'calendar.dayNamesShort.tue'|trans }}','{{ 'calendar.dayNamesShort.wed'|trans }}','{{ 'calendar.dayNamesShort.thu'|trans }}','{{ 'calendar.dayNamesShort.fri'|trans }}','{{ 'calendar.dayNamesShort.sat'|trans }}'],
                allDaySlot: false,
                axisFormat : 'H:mm',
                timeFormat: 'H:mm',
                defaultDate: '{{ defaultDate }}',
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                eventRender: function (event, element) {
                    element.attr('href', 'javascript:void(0);');
                    element.click(function() {

                        //console.log(event);


                        $("#dateInfo").html(event.date_info);
                        $("#startTime").html(event.startTime_info);
                        $("#eventInfo").html(event.description);
                        if (event.endTime_info != undefined) {
                            $("#endTime").html(event.endTime_info);
                        } else {
                            $("#endTime").html('-');
                        }
                        if (event.googlemap != undefined) {
                            $("#map").html('<iframe width="100%" scrolling="no" height="270" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=' + event.googlemap + '&amp;z=14&amp;iwloc=near&amp;output=embed" marginwidth="0" marginheight="0"></iframe>');
                        } else {
                            $("#map").html('');
                        }

                        if (event.lang != undefined) {
                            $("#langInfo").html('<strong class="main-color">Langue: </strong>'+event.lang+'<br />');
                        } else $("#langInfo").html('');

                        if (event.present != undefined) {
                            $("#presentInfo").html('<strong class="main-color">Cadeau(x): </strong>'+event.present+'<br />');
                        } else $("#presentInfo").html('');

                        $("#eventLink").attr('href', event.url);
                        $("#eventContent").dialog({ modal: true, title: event.title, width:500});
                    });
                },
                events: {{ eventsEU|raw }}
            });

            $('#calendarUS').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'prevYear,month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: '{{ 'calendar.today'|trans }}',
                    month: '{{ 'calendar.month'|trans }}',
                    week: '{{ 'calendar.week'|trans }}',
                    day: '{{ 'calendar.day'|trans }}'
                },
                columnFormat:{
                    month: 'ddd '    // Mon
                },
                firstDay:1,
                height: 'auto',
                minTime : '06:00:00',
                monthNames: ['{{ 'calendar.monthNames.january'|trans }}','{{ 'calendar.monthNames.february'|trans }}','{{ 'calendar.monthNames.march'|trans }}','{{ 'calendar.monthNames.april'|trans }}','{{ 'calendar.monthNames.may'|trans }}','{{ 'calendar.monthNames.june'|trans }}','{{ 'calendar.monthNames.july'|trans }}','{{ 'calendar.monthNames.august'|trans }}','{{ 'calendar.monthNames.september'|trans }}','{{ 'calendar.monthNames.october'|trans }}','{{ 'calendar.monthNames.november'|trans }}','{{ 'calendar.monthNames.december'|trans }}'],
                monthNamesShort: ['{{ 'calendar.monthNamesShort.jan'|trans }}','{{ 'calendar.monthNamesShort.feb'|trans }}','{{ 'calendar.monthNamesShort.mar'|trans }}','{{ 'calendar.monthNamesShort.apr'|trans }}','{{ 'calendar.monthNamesShort.may'|trans }}','{{ 'calendar.monthNamesShort.jun'|trans }}','{{ 'calendar.monthNamesShort.jul'|trans }}','{{ 'calendar.monthNamesShort.aug'|trans }}','{{ 'calendar.monthNamesShort.sep'|trans }}','{{ 'calendar.monthNamesShort.oct'|trans }}','{{ 'calendar.monthNamesShort.nov'|trans }}','{{ 'calendar.monthNamesShort.dec'|trans }}'],
                dayNames: ['{{ 'calendar.dayNames.sun'|trans }}','{{ 'calendar.dayNames.mon'|trans }}','{{ 'calendar.dayNames.tue'|trans }}','{{ 'calendar.dayNames.wed'|trans }}','{{ 'calendar.dayNames.thu'|trans }}','{{ 'calendar.dayNames.fri'|trans }}','{{ 'calendar.dayNames.sat'|trans }}'],
                dayNamesShort: ['{{ 'calendar.dayNamesShort.sun'|trans }}','{{ 'calendar.dayNamesShort.mon'|trans }}','{{ 'calendar.dayNamesShort.tue'|trans }}','{{ 'calendar.dayNamesShort.wed'|trans }}','{{ 'calendar.dayNamesShort.thu'|trans }}','{{ 'calendar.dayNamesShort.fri'|trans }}','{{ 'calendar.dayNamesShort.sat'|trans }}'],
                allDaySlot: false,
                axisFormat : 'H:mm',
                timeFormat: 'H:mm',
                defaultDate: '{{ defaultDate }}',
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                eventRender: function (event, element) {
                    element.attr('href', 'javascript:void(0);');
                    element.click(function() {

                        //console.log(event);


                        $("#dateInfo").html(event.date_info);
                        $("#startTime").html(event.startTime_info);
                        $("#eventInfo").html(event.description);
                        if (event.endTime_info != undefined) {
                            $("#endTime").html(event.endTime_info);
                        } else {
                            $("#endTime").html('-');
                        }
                        if (event.googlemap != undefined) {
                            $("#map").html('<iframe width="100%" scrolling="no" height="270" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=' + event.googlemap + '&amp;z=14&amp;iwloc=near&amp;output=embed" marginwidth="0" marginheight="0"></iframe>');
                        } else {
                            $("#map").html('');
                        }

                        if (event.lang != undefined) {
                            $("#langInfo").html('<strong class="main-color">Langue: </strong>'+event.lang+'<br />');
                        } else $("#langInfo").html('');

                        if (event.present != undefined) {
                            $("#presentInfo").html('<strong class="main-color">Cadeau(x): </strong>'+event.present+'<br />');
                        } else $("#presentInfo").html('');

                        $("#eventLink").attr('href', event.url);
                        $("#eventContent").dialog({ modal: true, title: event.title, width:500});
                    });
                },
                events: {{ eventsUS|raw }}
            });

            $('#calendarJP').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'prevYear,month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: '{{ 'calendar.today'|trans }}',
                    month: '{{ 'calendar.month'|trans }}',
                    week: '{{ 'calendar.week'|trans }}',
                    day: '{{ 'calendar.day'|trans }}'
                },
                columnFormat:{
                    month: 'ddd '    // Mon
                },
                firstDay:1,
                height: 'auto',
                minTime : '06:00:00',
                monthNames: ['{{ 'calendar.monthNames.january'|trans }}','{{ 'calendar.monthNames.february'|trans }}','{{ 'calendar.monthNames.march'|trans }}','{{ 'calendar.monthNames.april'|trans }}','{{ 'calendar.monthNames.may'|trans }}','{{ 'calendar.monthNames.june'|trans }}','{{ 'calendar.monthNames.july'|trans }}','{{ 'calendar.monthNames.august'|trans }}','{{ 'calendar.monthNames.september'|trans }}','{{ 'calendar.monthNames.october'|trans }}','{{ 'calendar.monthNames.november'|trans }}','{{ 'calendar.monthNames.december'|trans }}'],
                monthNamesShort: ['{{ 'calendar.monthNamesShort.jan'|trans }}','{{ 'calendar.monthNamesShort.feb'|trans }}','{{ 'calendar.monthNamesShort.mar'|trans }}','{{ 'calendar.monthNamesShort.apr'|trans }}','{{ 'calendar.monthNamesShort.may'|trans }}','{{ 'calendar.monthNamesShort.jun'|trans }}','{{ 'calendar.monthNamesShort.jul'|trans }}','{{ 'calendar.monthNamesShort.aug'|trans }}','{{ 'calendar.monthNamesShort.sep'|trans }}','{{ 'calendar.monthNamesShort.oct'|trans }}','{{ 'calendar.monthNamesShort.nov'|trans }}','{{ 'calendar.monthNamesShort.dec'|trans }}'],
                dayNames: ['{{ 'calendar.dayNames.sun'|trans }}','{{ 'calendar.dayNames.mon'|trans }}','{{ 'calendar.dayNames.tue'|trans }}','{{ 'calendar.dayNames.wed'|trans }}','{{ 'calendar.dayNames.thu'|trans }}','{{ 'calendar.dayNames.fri'|trans }}','{{ 'calendar.dayNames.sat'|trans }}'],
                dayNamesShort: ['{{ 'calendar.dayNamesShort.sun'|trans }}','{{ 'calendar.dayNamesShort.mon'|trans }}','{{ 'calendar.dayNamesShort.tue'|trans }}','{{ 'calendar.dayNamesShort.wed'|trans }}','{{ 'calendar.dayNamesShort.thu'|trans }}','{{ 'calendar.dayNamesShort.fri'|trans }}','{{ 'calendar.dayNamesShort.sat'|trans }}'],
                allDaySlot: false,
                axisFormat : 'H:mm',
                timeFormat: 'H:mm',
                defaultDate: '{{ defaultDate }}',
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                eventRender: function (event, element) {
                    element.attr('href', 'javascript:void(0);');
                    element.click(function() {

                        //console.log(event);


                        $("#dateInfo").html(event.date_info);
                        $("#startTime").html(event.startTime_info);
                        $("#eventInfo").html(event.description);
                        if (event.endTime_info != undefined) {
                            $("#endTime").html(event.endTime_info);
                        } else {
                            $("#endTime").html('-');
                        }
                        if (event.googlemap != undefined) {
                            $("#map").html('<iframe width="100%" scrolling="no" height="270" frameborder="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=' + event.googlemap + '&amp;z=14&amp;iwloc=near&amp;output=embed" marginwidth="0" marginheight="0"></iframe>');
                        } else {
                            $("#map").html('');
                        }

                        if (event.lang != undefined) {
                            $("#langInfo").html('<strong class="main-color">Langue: </strong>'+event.lang+'<br />');
                        } else $("#langInfo").html('');

                        if (event.present != undefined) {
                            $("#presentInfo").html('<strong class="main-color">Cadeau(x): </strong>'+event.present+'<br />');
                        } else $("#presentInfo").html('');

                        $("#eventLink").attr('href', event.url);
                        $("#eventContent").dialog({ modal: true, title: event.title, width:500});
                    });
                },
                events: {{ eventsJP|raw }}
            });

        });

    </script>


{% endblock %}